In [1]:
import pandas as pd
import requests
from bs4 import BeautifulSoup
import re
from collections import OrderedDict
import pandas as pd
import re
from tqdm import tqdm
import string
import collections
import numpy as np

from io import StringIO
from transformers import AutoTokenizer, AutoModelForSequenceClassification
import torch

In [2]:
prefix = "https://huggingface.co/muhammadravi251001/fine-tuned-FilteringNLI-"
suffix = "/blob/main/results/evaluation/metric_result.txt"

suffix_df = "/raw/main/results/output/output_df.csv"
suffix_squadid_df = "/resolve/main/results/output/output_df.csv"

In [3]:
def take_dataframe(url): 
    
    response = requests.get(url)
    
    if response.status_code == 200:
        csv_data = StringIO(response.text)
        df = pd.read_csv(csv_data, index_col=0)
        df = df[['Context', 'Question', 'Prediction Answer', 'Rec. Pred Answer', 'Gold Answer', 'Properties']]
        df.fillna('', inplace=True)
    
    else:
        print("Failed to download CSV")
    
    return df

In [4]:
def find_sample(url, type):
    
    df = take_dataframe(url)
    
    rows = []

    for i in range(len(df)):
        
        gold_answer = df['Gold Answer'][i]
        qa_generated_answer = eval(df['Rec. Pred Answer'][i])[0] # Kandidat pertama
        nli_validated_answer = df['Prediction Answer'][i]
        
        if type == "ra":
        
            ra = (gold_answer == qa_generated_answer) and (qa_generated_answer == nli_validated_answer)

            if ra:
                rows.append(df.iloc[i])
                
        elif type == "rr":
        
            rr = (gold_answer == qa_generated_answer) and (qa_generated_answer != nli_validated_answer)

            if rr:
                rows.append(df.iloc[i])
        
        elif type == "wa":
        
            wa = (gold_answer != qa_generated_answer) and (qa_generated_answer == nli_validated_answer)

            if wa:
                rows.append(df.iloc[i])
                
        elif type == "wr":
        
            wr = (gold_answer != qa_generated_answer) and (qa_generated_answer != nli_validated_answer)

            if wr:
                rows.append(df.iloc[i])

    df = pd.DataFrame(rows).reset_index(drop=True)
    df = df[["Prediction Answer", "Gold Answer"]]

    return df

# idkmrc

In [5]:
data = "idkmrc"
msc = f"indonli_mnli_{data}-nli"
tq = "1"
msi = "1"
var = "2"
th = "0.75"

url = f"{prefix}{msc}-{data}-TQ{tq}-TS4-MS{msi}-VA{var}-TH{th}{suffix_df}"

In [6]:
# Sama semua

df = pd.DataFrame(find_sample(url, type="ra")).head(20)
df

,Prediction Answer,Gold Answer
0,1959,1959
1,,
2,,
3,,
4,,
5,,
6,,
7,Januari 414,Januari 414
8,,
9,,
10,Lontong kupang,Lontong kupang
11,"Kabupaten Kuningan, Provinsi Jawa Barat, Indon...","Kabupaten Kuningan, Provinsi Jawa Barat, Indon..."
12,,
13,karena kepahlawanannya saat membela Islam,karena kepahlawanannya saat membela Islam
14,,
15,,
16,John Logie Baird,John Logie Baird
17,,
18,,
19,Encik Yusof bin Ishak,Encik Yusof bin Ishak

In [7]:
# Prediction kosong

df = pd.DataFrame(find_sample(url, type="rr")).head(20)
df

  Prediction Answer Gold Answer
0                      20 tahun

In [8]:
# Beragam jenis, super/sub/intersection, ada juga string kosong

df = pd.DataFrame(find_sample(url, type="wa")).head(20)
df

,Prediction Answer,Gold Answer
0,komponen dari sebuah nama pribadi yang berdasa...,Komomene sebuah nama yang berdasarkan pada nam...
1,Gubernur DKI Jakarta,Gubernur DKI Jakarta yang menjabat sejak 19 No...
2,Ir. Basuki Tjahaja Purnama,Basuki Tjahaja Purnama
3,"Hispania, Ataulf dengan tidak hati-hati meneri...",istana Barcelona
4,Lontong kupang atau kupang lontong adalah nama...,
5,"1634 masehi, dan selesai pada tahun 1641","han dimulai pada tahun 1634 masehi, dan selesa..."
6,"provinsi Lecce (Apulia, Italia","Apulia, Italia"
7,"mengatur air, menurunkan hujan/petir, membagik...",
8,istilah yang dipakai baik secara populer maupu...,istilah yang dipakai baik secara populer maupu...
9,,Yesus Kristus
10,1780 karena usia yang sangat lanjut,usia yang sangat lanjut
11,"Pare, Kabupaten Kediri, Jawa Timur",Kediri
12,malaria dan tripanosomiasis,Kinetoplastid dan Apicomplexa
13,Protista,
14,,"Dari sudut pandang taksonomi, pengelompokan in..."
15,,91 SM
16,Amerika Serikat,muara Sungai Mississippi
17,56.18km2,56.18km²
18,Muhammad (1405-1415) Ahmad (1415-1425) - menan...,
19,struktur pendelegasian kekuasaan sosiopolitik ...,

In [9]:
# Prediction selalu kosong

df = pd.DataFrame(find_sample(url, type="wr")).head(20)
df

  Prediction Answer                                        Gold Answer
0
1                                                                 1889
2                                                              1920-an
3                    1,120 tonnes (1,100 long tons) ketika berada d...
4                                                                 2009
5

# tydiqaid

In [10]:
data = "tydiqaid"
msc = f"indonli_mnli_{data}-nli"
tq = "1"
msi = "2"
var = "3"
th = "0.25"

url = f"{prefix}{msc}-{data}-TQ{tq}-TS4-MS{msi}-VA{var}-TH{th}{suffix_df}"

In [11]:
# Sama semua

df = pd.DataFrame(find_sample(url, type="ra")).head(20)
df

,Prediction Answer,Gold Answer
0,Yoo Kerl,Yoo Kerl
1,24 Oktober 1945,24 Oktober 1945
2,"Sheffield, South Yorkshire","Sheffield, South Yorkshire"
3,"Joseph Patrick ""Joe"" Kennedy, Sr. (1888–1969) ...","Joseph Patrick ""Joe"" Kennedy, Sr. (1888–1969) ..."
4,Felis margarita,Felis margarita
5,"Nasi glepungan, Sirup pokak, keripik kentang","Nasi glepungan, Sirup pokak, keripik kentang"
6,Charles Babbage,Charles Babbage
7,Game Freak dan Creatures Inc,Game Freak dan Creatures Inc
8,Adolf von Thadden,Adolf von Thadden
9,Kyoko Mizuki,Kyoko Mizuki
10,Nicolas Loufrani,Nicolas Loufrani
11,James Dewey Watson,James Dewey Watson
12,03 April 1973,03 April 1973
13,Mei 1945,Mei 1945
14,komponen yang telah berevolusi dan terdapat se...,komponen yang telah berevolusi dan terdapat se...
15,565 hingga 578,565 hingga 578
16,37 SM,37 SM
17,384 SM,384 SM
18,25 Desember,25 Desember
19,Chihiro,Chihiro

In [12]:
# Salah tahun

df = pd.DataFrame(find_sample(url, type="rr")).head(20)
df

  Prediction Answer Gold Answer
0              1974        1972

In [13]:
# Beragam jenis, super/sub/intersection, ada juga string kosong, 
# ada juga yang bener-bener salah semantik/format

df = pd.DataFrame(find_sample(url, type="wa")).head(20)
df

,Prediction Answer,Gold Answer
0,"TMP Cikutra, Bandung",28 Agustus 1950
1,"Puri Dragsholm, 75 kilometer Kopenhagen",Puri Dragsholm
2,14.300 km2.,14.300 km²
3,"suci, teristimewa oleh pemeluk agama Hindu",Hindu
4,Yosua bin Nun,"Yosua bin Nun, abdi Musa"
5,"Keluyuran di Pusat Mode New York”, yang merupa...",Keluyuran di Pusat Mode New York
6,menjaga standar mutu artistik yang tinggi dan ...,untuk menjaga standar mutu artistik yang tingg...
7,Sanskerta,bahasa Sanskerta
8,salah satu nama zaman pemerintahan kaisar Jepa...,nama zaman pemerintahan kaisar Jepang sewaktu ...
9,"hal-hal yang berkaitan dengan budi, dan akal m...","sebagai hal-hal yang berkaitan dengan budi, da..."
10,Perennial,mini Perennial
11,April 2005.,April 2005
12,1360-an,abad ke-15
13,15 Mei 1174),15 Mei 1174
14,Basilika Kepausan Santo Petrus di Vatikan (Ita...,Basilika Santo Petrus
15,9.000.000km2.,9.000.000km2
16,wanita,hubungan antarpria yang bersifat homoerotis ma...
17,"Provinsi Maluku Utara, Indonesia",di bawah kaki gunung api Gamalama pada sebuah ...
18,1.219.912km2,1.219.912km²
19,"Berlin Timur sebagai ibukota, sedangkan Jerman...",Jerman Timur memilih Berlin Timur sebagai ibuk...

In [14]:
# Beragam jenis, super/sub/intersection
# dan ada juga yang bener-bener salah semantik/format

df = pd.DataFrame(find_sample(url, type="wr")).head(20)
df

,Prediction Answer,Gold Answer
0,<s> Siapa yang mengetuai Operation Just Cause?...,Amerika Serikat
1,padang rumput stepa Asia Tengah wilayah Mongol...,2008
2,<s> Apa isi di dalam lubang hitam?</s></s> Lub...,gravitasi paling kuat
3,empat puluh hari sejak Minggu Paskah (puncak d...,empat puluh hari sejak Minggu Paskah (puncak d...
4,luar negeri. Paspor ini hanya diberikan kepada...,Direktorat Jenderal Imigrasi
5,cabang biologi yang mempelajari pewarisan sifa...,cabang biologi yang mempelajari pewarisan sifa...
6,Teritori Seberang Laut Gibraltar. Baterai ini ...,ujung utara Upper Rock Nature Reserve
7,"bahasa percakapan Utara"" atau 北方方言 Hanyu Pinyi...",menerjemahkan beberapa istilah Tionghoa yang b...
8,Internet untuk Segala-(nya) (English: Internet...,IoT
9,Bahasa Tionghoa (dituturkan dalam bentuk stand...,Bahasa Tionghoa
10,"masyarakat yang ""kompleks"": dicirikan oleh pra...","merujuk pada suatu masyarakat yang ""kompleks"""
11,"tingkatan-tingkatan organisasi makhluk hidup, ...","populasi, komunitas, dan ekosistem yang saling..."
12,Pasukan Timur dan Pasukan Barat,tidak ada pihak yang kalah atau menang
13,"hutan hujan primer dan sekunder, meskipun mere...",hutan hujan evergreen dataran rendah di dekat ...
14,"1866 sampai 1869, tiga tahun",1866 sampai 1869
15,"2007,",2007
16,Bangsa Yunani adalah bangsa yang pertama diken...,"Thales dari Miletus, Herodotus, Eratosthenes, ..."
17,-satunya senjata yang mampu membunuh Jabberwoc...,Wonderland
18,merah dengan salib bewarna biru yang dibatasi ...,latar merah dengan salib bewarna biru
19,"bidang seperti pendidikan, pertanian dan indus...",memberi pinjaman dengan tarif preferensial kep...

# squadid

In [15]:
data = "squadid"
msc = f"indonli_mnli_{data}-nli"
tq = "1"
msi = "2"
var = "3"
th = "0.5"

url = f"{prefix}{msc}-{data}-TQ{tq}-TS4-MS{msi}-VA{var}-TH{th}{suffix_squadid_df}"

In [16]:
# Sama semua

df = pd.DataFrame(find_sample(url, type="ra")).head(20)
df

                  Prediction Answer                      Gold Answer
0                          Perancis                         Perancis
1    Denmark, Islandia dan Norwegia   Denmark, Islandia dan Norwegia
2                             Rollo                            Rollo
3                        abad ke-10                       abad ke-10
4             William Sang Penakluk            William Sang Penakluk
5      politik, budaya, dan militer     politik, budaya, dan militer
6                         Normandia                        Normandia
7                         Normandia                        Normandia
8                         abad ke-9                        abad ke-9
9                         abad ke-9                        abad ke-9
10                              911                              911
11                            Seine                            Seine
12                       abad ke-10                       abad ke-10
13  perjanjian Saint-Clair-sur-Epte  perjanjian Saint-Clair-sur-Epte
14                            Rollo                            Rollo
15                            Rollo                            Rollo
16                           880-an                           880-an
17                            utara                            utara
18                        Normandia                        Normandia
19                          Lombard                          Lombard

In [17]:
# Beragam jenis, super/sub/intersection, ada juga string kosong, 
# ada juga yang bener-bener salah semantik/format

df = pd.DataFrame(find_sample(url, type="rr")).head(20)
df

,Prediction Answer,Gold Answer
0,solusi,solusinya
1,1900,1999
2,1806,1700
3,1562,1564
4,1643,1685
5,pertanian,pabrik
6,,3600 putaran per menit
7,Oksigen,oksigen
8,<s>,polutan
9,,"energi terbarukan, tenaga nuklir dan bahan bak..."
10,Tanah,tanah
11,hutan,hutan hujan
12,"Dia memutuskan bahwa sistem pembagian waktu, b...",sistem pembagian waktu
13,,410 dan 660 kilometer
14,fosil,tanggal isotop
15,isotop elemen radioaktif diukur dalam mineral,rasio isotop elemen radioaktif
16,<s> Terbuat dari apa kisi kristal?</s></s> Unt...,mineral
17,<s> Apa yang dibayar kurang oleh apoteker di I...,ulasan penggunaan obat-obatan
18,1803,1804
19,1822,1564

In [18]:
# Beragam jenis, super/sub/intersection, ada juga string kosong, 
# ada juga yang bener-bener salah semantik/format

df = pd.DataFrame(find_sample(url, type="wa")).head(20)
df

,Prediction Answer,Gold Answer
0,abad ke-10 dan ke-11,10 dan ke
1,Bangsa Normandia,Normandia
2,Normandia,Normanni
3,,Rollo
4,paruh pertama abad ke-10,abad ke-10
5,Richard I dari Normandia,Richard I
6,Kristen,Katolik
7,Richard I dari Normandia,Richard I
8,Kerajaan Sisilia,Antiokhia
9,"Norseman, Viking",Viking
10,Normans,"Normans"""
11,Viking,Raja Charles III
12,tanah Prancis antara sungai Epte dan pantai At...,serangan Viking lebih
13,Orkney Viking,"Denmark, Norwegia, Norse-Gaels, Orkney Viking,..."
14,Katolik (Kristen,Catholicism
15,Katolik (Kristen) dan bahasa Gallo-Romansa dar...,Catholicism
16,warisan kaum Frank keibuan mereka dengan tradi...,warisan kaum Frank
17,Katolik,Old Norse
18,pasukan berkuda,fighting horsemen
19,Bangsa Normandia,Prancis

In [19]:
# Beragam jenis, super/sub/intersection, ada juga string kosong, 
# ada juga yang bener-bener salah semantik/format

df = pd.DataFrame(find_sample(url, type="wr")).head(20)
df

,Prediction Answer,Gold Answer
0,Masalah komputasi,Masalah komputasi
1,kompleksitas,Langkah-langkah kompleksitas
2,<s>,Langkah-langkah kompleksitas
3,Variabel apa yang mudah dibangun dalam kerangk...,definisi rumit
4,<s>,NP-complete
5,terbalik,terbalik
6,terbalik,terbalik
7,algoritma waktu-eksponensial mungkin tidak dap...,algoritma waktu-eksponensial
8,yayasan,foundations were laid out
9,menjaga diskusi tetap abstrak agar tidak terga...,encoding
10,<s> Untuk apa padang pasir California selatan ...,nuansa resor dan ruang terbuka di dekatnya.
11,lembah interior besar dan kecil,lembah
12,Sesar Bukit Puente,Puente Hills
13,<s>,terkaya
14,<s> Apa yang oleh agensi tunjangan diabaikan s...,kehadiran seorang pria
15,Undang-Undang Konstitusi Victoria 1855,Victoria Constitution Act 1855
16,pemimpin partai politik atau koalisi dengan ku...,most seats
17,cemoohan,derision
18,"1700, diperkirakan bahwa hampir 25% dari popul...",1705
19,1643,1643