In [19]:
import pandas as pd
import requests
from bs4 import BeautifulSoup
import re
from collections import OrderedDict
import pandas as pd
import re
from tqdm import tqdm

In [20]:
def em_and_f1(p_url, acc, id="L1", rounded_to_num=5):

    page = requests.get(p_url)
    soup = BeautifulSoup(page.content)

    tr = soup.find('tr', attrs={'id': id})
    td = tr.find(attrs={'class': 'overflow-visible whitespace-pre px-3'}).text
    x = re.findall("\d+\.\d+", td)

    if acc == True: return round(float(x[0]), rounded_to_num)
    else: return round(float(x[1]), rounded_to_num)

# Intermediate task transfer-learning

In [21]:
prefix = "https://huggingface.co/muhammadravi251001/fine-tuned-DatasetQAS-"
suffix = "-LR-1e-05/blob/main/results/evaluation/metric_result.txt"

In [22]:
def take_all_url_ittl(data):

    ittl_arr = ["without-ITTL", "with-ITTL"]
    freeze_arr = ["without-freeze", "with-freeze"]

    url_arr = []
    for ittl in ittl_arr:
        for freeze in freeze_arr:

            if ittl == "without-ITTL":
                freeze = "without-freeze"
            
            url_arr.append(f"{prefix}{data}-with-xlm-roberta-large-{ittl}-{freeze}{suffix}")
    
    url_arr = list(OrderedDict.fromkeys(url_arr))
    print("Amount of url:", len(url_arr))
    return url_arr

In [23]:
def extract_values_ittl(url, data):

    ittl_pattern = re.compile(r'with-ITTL')
    freeze_pattern = re.compile(r'with-freeze')

    ittl_match = ittl_pattern.search(url)
    ittl = bool(ittl_match)

    freeze_match = freeze_pattern.search(url)
    freeze = bool(freeze_match)

    EM = em_and_f1(url, True)
    F1 = em_and_f1(url, False)

    if data == "IDK-MRC":
        data = "idkmrc"
    elif data == "TYDI-QA-ID":
        data = "tydiqaid"
    elif data == "Squad-ID":
        data = "squadid"

    return data, ittl, freeze, EM, F1

In [24]:
def create_table_ittl(url_list, data):
    
    data_list = []
    for url in tqdm(url_list, desc="Processing URLs", unit="URL"):
        extracted_values = extract_values_ittl(url, data)
        data_list.append(extracted_values)

    df = pd.DataFrame(data_list, columns=['data', 'ITTL', 'Freeze', 'EM', 'F1'])
    
    df.loc[0, 'ITTL'] = "Baseline"
    df.loc[0, 'Freeze'] = "Baseline"
    
    return df

## IDK-MRC

In [25]:
data = "IDK-MRC"
url_list = take_all_url_ittl(data)
table = pd.DataFrame(create_table_ittl(url_list, data))
table.to_excel(f'{data}-ittl.xlsx', index=False)
table

Amount of url: 3

Processing URLs: 100%|███████████████████████████████████████████████████████████████████| 3/3 [00:03<00:00,  1.10s/URL]

     data      ITTL    Freeze        EM        F1
0  idkmrc  Baseline  Baseline  77.94811  84.63667
1  idkmrc      True     False  77.94811  84.23181
2  idkmrc      True      True  78.30189  85.14123

In [26]:
print(f"{data} sorted by EM")
sorted_table = table.sort_values(by='EM', ascending=False)
sorted_table

IDK-MRC sorted by EM

     data      ITTL    Freeze        EM        F1
2  idkmrc      True      True  78.30189  85.14123
0  idkmrc  Baseline  Baseline  77.94811  84.63667
1  idkmrc      True     False  77.94811  84.23181

In [27]:
print(f"{data} sorted by F1")
sorted_table = table.sort_values(by='F1', ascending=False)
sorted_table

IDK-MRC sorted by F1

     data      ITTL    Freeze        EM        F1
2  idkmrc      True      True  78.30189  85.14123
0  idkmrc  Baseline  Baseline  77.94811  84.63667
1  idkmrc      True     False  77.94811  84.23181

## TYDI-QA-ID

In [28]:
data = "TYDI-QA-ID"
url_list = take_all_url_ittl(data)
table = pd.DataFrame(create_table_ittl(url_list, data))
table.to_excel(f'{data}-ittl.xlsx', index=False)
table

Amount of url: 3

Processing URLs: 100%|███████████████████████████████████████████████████████████████████| 3/3 [00:02<00:00,  1.20URL/s]

       data      ITTL    Freeze        EM        F1
0  tydiqaid  Baseline  Baseline  66.51109  78.26768
1  tydiqaid      True     False  65.11085  76.39569
2  tydiqaid      True      True  66.51109  77.58959

In [29]:
print(f"{data} sorted by EM")
sorted_table = table.sort_values(by='EM', ascending=False)
sorted_table

TYDI-QA-ID sorted by EM

       data      ITTL    Freeze        EM        F1
0  tydiqaid  Baseline  Baseline  66.51109  78.26768
2  tydiqaid      True      True  66.51109  77.58959
1  tydiqaid      True     False  65.11085  76.39569

In [30]:
print(f"{data} sorted by F1")
sorted_table = table.sort_values(by='F1', ascending=False)
sorted_table

TYDI-QA-ID sorted by F1

       data      ITTL    Freeze        EM        F1
0  tydiqaid  Baseline  Baseline  66.51109  78.26768
2  tydiqaid      True      True  66.51109  77.58959
1  tydiqaid      True     False  65.11085  76.39569

## SQUAD-ID

In [31]:
data = "Squad-ID"
url_list = take_all_url_ittl(data)
table = pd.DataFrame(create_table_ittl(url_list, data))
table.to_excel(f'{data}-ittl.xlsx', index=False)
table

Amount of url: 3

Processing URLs: 100%|███████████████████████████████████████████████████████████████████| 3/3 [00:02<00:00,  1.19URL/s]

      data      ITTL    Freeze        EM        F1
0  squadid  Baseline  Baseline  49.54021  66.69283
1  squadid      True     False  49.94148  67.20374
2  squadid      True      True  50.40963  67.63862

In [32]:
print(f"{data} sorted by EM")
sorted_table = table.sort_values(by='EM', ascending=False)
sorted_table

Squad-ID sorted by EM

      data      ITTL    Freeze        EM        F1
2  squadid      True      True  50.40963  67.63862
1  squadid      True     False  49.94148  67.20374
0  squadid  Baseline  Baseline  49.54021  66.69283

In [33]:
print(f"{data} sorted by F1")
sorted_table = table.sort_values(by='F1', ascending=False)
sorted_table

Squad-ID sorted by F1

      data      ITTL    Freeze        EM        F1
2  squadid      True      True  50.40963  67.63862
1  squadid      True     False  49.94148  67.20374
0  squadid  Baseline  Baseline  49.54021  66.69283

# Inference with NLI validation

In [34]:
prefix = "https://huggingface.co/muhammadravi251001/fine-tuned-FilteringNLI-"
suffix = "/blob/main/results/evaluation/metric_result.txt"

In [35]:
def take_all_url_nli_validator(data):

    baseline = f"{prefix}indonli_mnli-{data}-TQ2-TS4-MS3-VA0-TH0.0{suffix}"
    msc_arr = ["indonli", "indonli_mnli", f"indonli_mnli_{data}-nli"]
    tq_arr = [1, 2]
    msi_arr = [1, 2, 3]
    var_arr = [1, 2, 3]
    th_arr = [0.25, 0.5, 0.75]

    url_arr = []
    url_arr.append(baseline)

    for msc in msc_arr:
        for tq in tq_arr:
            for msi in msi_arr:
                for var in var_arr:
                    for th in th_arr:
                        
                        if msc == "indonli" or msc == "indonli_mnli":
                            var = 1
                            th = 0.0

                        if var == 1:
                            th = 0.0

                        url_arr.append(f"{prefix}{msc}-{data}-TQ{tq}-TS4-MS{msi}-VA{var}-TH{th}{suffix}")
    
    url_arr = list(OrderedDict.fromkeys(url_arr))
    print("Amount of url:", len(url_arr))
    return url_arr

In [36]:
def extract_values_nli_validator(url, data):

    msc_list = f"indonli_mnli_{data}-nli|indonli_mnli|indonli"
    pattern = re.compile(r'.*FilteringNLI-({})-{}-TQ(\d+)-TS(\d+)-MS([\d]+)-VA([\d]+)-TH([\d.]+).*'.format(msc_list, data))
    match = pattern.match(url)
    
    if match:
        msc = match.group(1)
        TQ = int(match.group(2))
        TS = int(match.group(3))
        MSI = int(match.group(4))
        VA = int(match.group(5))
        
        TH = float(match.group(6))
        if TH == '0.00':
            TH = '0.0'
        elif TH == '0.50':
            TH = '0.5'

        EM = em_and_f1(url, True)
        F1 = em_and_f1(url, False)

        return msc, data, TQ, TS, MSI, VA, TH, EM, F1
    
    else:
        return None

In [40]:
def create_table_nli_validator(url_list, data):
    
    data_list = []
    for url in tqdm(url_list, desc="Processing URLs", unit="URL"):
        extracted_values = extract_values_nli_validator(url, data)
        data_list.append(extracted_values)

    df = pd.DataFrame(data_list, columns=['MSC', 'data', 'TQ', 'TS', 'MSI', 'VA', 'TH', 'EM', 'F1'])
    
    df.loc[0, 'MSC'] = "Baseline"
    df.loc[0, 'TQ'] = "BL"
    df.loc[0, 'TS'] = "BL"
    df.loc[0, 'MSI'] = "BL"
    df.loc[0, 'VA'] = "BL"
    df.loc[0, 'TH'] = "BL"
    
    return df

In [41]:
data = "idkmrc"
url_list = take_all_url_nli_validator(data)
table = pd.DataFrame(create_table_nli_validator(url_list, data))
table.to_excel(f'{data}-nli-validator.xlsx', index=False)
table

Amount of url: 55

Processing URLs: 100%|█████████████████████████████████████████████████████████████████| 55/55 [00:47<00:00,  1.17URL/s]

                        MSC    data  TQ  TS MSI  VA    TH        EM        F1
0                  Baseline  idkmrc  BL  BL  BL  BL    BL  75.82938  84.25128
1                   indonli  idkmrc   1   4   1   1   0.0  68.48341  75.02483
2                   indonli  idkmrc   1   4   2   1   0.0  54.62085  62.08946
3                   indonli  idkmrc   1   4   3   1   0.0  43.95735  51.95651
4                   indonli  idkmrc   2   4   1   1   0.0  75.35545  83.42190
5                   indonli  idkmrc   2   4   2   1   0.0  73.93365  82.22194
6                   indonli  idkmrc   2   4   3   1   0.0  72.63033  80.93617
7              indonli_mnli  idkmrc   1   4   1   1   0.0  71.32701  78.02263
8              indonli_mnli  idkmrc   1   4   2   1   0.0  61.96682  69.50875
9              indonli_mnli  idkmrc   1   4   3   1   0.0  52.60664  60.54560
10             indonli_mnli  idkmrc   2   4   1   1   0.0  75.47393  83.89583
11             indonli_mnli  idkmrc   2   4   2   1   0.0  72.63033  81.10442
12             indonli_mnli  idkmrc   2   4   3   1   0.0  71.44550  79.91959
13  indonli_mnli_idkmrc-nli  idkmrc   1   4   1   1   0.0  75.82938  84.16834
14  indonli_mnli_idkmrc-nli  idkmrc   1   4   1   2  0.25  75.82938  84.16834
15  indonli_mnli_idkmrc-nli  idkmrc   1   4   1   2   0.5  75.82938  84.16834
16  indonli_mnli_idkmrc-nli  idkmrc   1   4   1   2  0.75  75.94787  84.16834
17  indonli_mnli_idkmrc-nli  idkmrc   1   4   1   3  0.25  75.82938  84.25128
18  indonli_mnli_idkmrc-nli  idkmrc   1   4   1   3   0.5  75.82938  84.25128
19  indonli_mnli_idkmrc-nli  idkmrc   1   4   1   3  0.75  75.82938  84.25128
20  indonli_mnli_idkmrc-nli  idkmrc   1   4   2   1   0.0  61.49289  70.76557
21  indonli_mnli_idkmrc-nli  idkmrc   1   4   2   2  0.25  61.49289  70.76557
22  indonli_mnli_idkmrc-nli  idkmrc   1   4   2   2   0.5  60.90047  70.17316
23  indonli_mnli_idkmrc-nli  idkmrc   1   4   2   2  0.75  57.46445  66.69764
24  indonli_mnli_idkmrc-nli  idkmrc   1   4   2   3  0.25  59.95261  69.22529
25  indonli_mnli_idkmrc-nli  idkmrc   1   4   2   3   0.5  59.24171  68.51439
26  indonli_mnli_idkmrc-nli  idkmrc   1   4   2   3  0.75  54.26540  63.52821
27  indonli_mnli_idkmrc-nli  idkmrc   1   4   3   1   0.0  56.75355  66.08548
28  indonli_mnli_idkmrc-nli  idkmrc   1   4   3   2  0.25  56.75355  66.08548
29  indonli_mnli_idkmrc-nli  idkmrc   1   4   3   2   0.5  56.04265  65.37458
30  indonli_mnli_idkmrc-nli  idkmrc   1   4   3   2  0.75  51.65877  60.89986
31  indonli_mnli_idkmrc-nli  idkmrc   1   4   3   3  0.25  54.62085  63.95278
32  indonli_mnli_idkmrc-nli  idkmrc   1   4   3   3   0.5  53.79147  63.12339
33  indonli_mnli_idkmrc-nli  idkmrc   1   4   3   3  0.75  47.39336  56.72332
34  indonli_mnli_idkmrc-nli  idkmrc   2   4   1   1   0.0  75.82938  84.16834
35  indonli_mnli_idkmrc-nli  idkmrc   2   4   1   2  0.25  75.82938  84.16834
36  indonli_mnli_idkmrc-nli  idkmrc   2   4   1   2   0.5  75.82938  84.16834
37  indonli_mnli_idkmrc-nli  idkmrc   2   4   1   2  0.75  75.94787  84.16834
38  indonli_mnli_idkmrc-nli  idkmrc   2   4   1   3  0.25  75.82938  84.25128
39  indonli_mnli_idkmrc-nli  idkmrc   2   4   1   3   0.5  75.82938  84.25128
40  indonli_mnli_idkmrc-nli  idkmrc   2   4   1   3  0.75  75.82938  84.25128
41  indonli_mnli_idkmrc-nli  idkmrc   2   4   2   1   0.0  62.44076  71.71344
42  indonli_mnli_idkmrc-nli  idkmrc   2   4   2   2  0.25  62.44076  71.71344
43  indonli_mnli_idkmrc-nli  idkmrc   2   4   2   2   0.5  61.72986  71.00254
44  indonli_mnli_idkmrc-nli  idkmrc   2   4   2   2  0.75  57.93839  67.17158
45  indonli_mnli_idkmrc-nli  idkmrc   2   4   2   3  0.25  61.13744  70.41012
46  indonli_mnli_idkmrc-nli  idkmrc   2   4   2   3   0.5  60.30806  69.58074
47  indonli_mnli_idkmrc-nli  idkmrc   2   4   2   3  0.75  54.97630  64.23911
48  indonli_mnli_idkmrc-nli  idkmrc   2   4   3   1   0.0  57.81991  67.15183
49  indonli_mnli_idkmrc-nli  idkmrc   2   4   3   2  0.25  57.81991  67.15183
50  indonli_mnli_idkmrc-nli  idkmrc   2   4   3   2   0.5  56.99052  66.32245
51  indonli_mnli_idkmrc-nli  idkmrc   2   4   3   2  0.75  52.36967  61.61076
52  indonli_mnli_idkmrc-nli  idkmrc   2   4   3   3  0.25  55.92417  65.25610
53  indonli_mnli_idkmrc-nli  idkmrc   2   4   3   3   0.5  54.97630  64.30823
54  indonli_mnli_idkmrc-nli  idkmrc   2   4   3   3  0.75  48.22275  57.55270

In [42]:
print(f"{data} sorted by EM")
sorted_table = table.sort_values(by='EM', ascending=False)
sorted_table

idkmrc sorted by EM

                        MSC    data  TQ  TS MSI  VA    TH        EM        F1
37  indonli_mnli_idkmrc-nli  idkmrc   2   4   1   2  0.75  75.94787  84.16834
16  indonli_mnli_idkmrc-nli  idkmrc   1   4   1   2  0.75  75.94787  84.16834
0                  Baseline  idkmrc  BL  BL  BL  BL    BL  75.82938  84.25128
13  indonli_mnli_idkmrc-nli  idkmrc   1   4   1   1   0.0  75.82938  84.16834
36  indonli_mnli_idkmrc-nli  idkmrc   2   4   1   2   0.5  75.82938  84.16834
35  indonli_mnli_idkmrc-nli  idkmrc   2   4   1   2  0.25  75.82938  84.16834
34  indonli_mnli_idkmrc-nli  idkmrc   2   4   1   1   0.0  75.82938  84.16834
40  indonli_mnli_idkmrc-nli  idkmrc   2   4   1   3  0.75  75.82938  84.25128
39  indonli_mnli_idkmrc-nli  idkmrc   2   4   1   3   0.5  75.82938  84.25128
18  indonli_mnli_idkmrc-nli  idkmrc   1   4   1   3   0.5  75.82938  84.25128
17  indonli_mnli_idkmrc-nli  idkmrc   1   4   1   3  0.25  75.82938  84.25128
15  indonli_mnli_idkmrc-nli  idkmrc   1   4   1   2   0.5  75.82938  84.16834
14  indonli_mnli_idkmrc-nli  idkmrc   1   4   1   2  0.25  75.82938  84.16834
19  indonli_mnli_idkmrc-nli  idkmrc   1   4   1   3  0.75  75.82938  84.25128
38  indonli_mnli_idkmrc-nli  idkmrc   2   4   1   3  0.25  75.82938  84.25128
10             indonli_mnli  idkmrc   2   4   1   1   0.0  75.47393  83.89583
4                   indonli  idkmrc   2   4   1   1   0.0  75.35545  83.42190
5                   indonli  idkmrc   2   4   2   1   0.0  73.93365  82.22194
11             indonli_mnli  idkmrc   2   4   2   1   0.0  72.63033  81.10442
6                   indonli  idkmrc   2   4   3   1   0.0  72.63033  80.93617
12             indonli_mnli  idkmrc   2   4   3   1   0.0  71.44550  79.91959
7              indonli_mnli  idkmrc   1   4   1   1   0.0  71.32701  78.02263
1                   indonli  idkmrc   1   4   1   1   0.0  68.48341  75.02483
41  indonli_mnli_idkmrc-nli  idkmrc   2   4   2   1   0.0  62.44076  71.71344
42  indonli_mnli_idkmrc-nli  idkmrc   2   4   2   2  0.25  62.44076  71.71344
8              indonli_mnli  idkmrc   1   4   2   1   0.0  61.96682  69.50875
43  indonli_mnli_idkmrc-nli  idkmrc   2   4   2   2   0.5  61.72986  71.00254
21  indonli_mnli_idkmrc-nli  idkmrc   1   4   2   2  0.25  61.49289  70.76557
20  indonli_mnli_idkmrc-nli  idkmrc   1   4   2   1   0.0  61.49289  70.76557
45  indonli_mnli_idkmrc-nli  idkmrc   2   4   2   3  0.25  61.13744  70.41012
22  indonli_mnli_idkmrc-nli  idkmrc   1   4   2   2   0.5  60.90047  70.17316
46  indonli_mnli_idkmrc-nli  idkmrc   2   4   2   3   0.5  60.30806  69.58074
24  indonli_mnli_idkmrc-nli  idkmrc   1   4   2   3  0.25  59.95261  69.22529
25  indonli_mnli_idkmrc-nli  idkmrc   1   4   2   3   0.5  59.24171  68.51439
44  indonli_mnli_idkmrc-nli  idkmrc   2   4   2   2  0.75  57.93839  67.17158
48  indonli_mnli_idkmrc-nli  idkmrc   2   4   3   1   0.0  57.81991  67.15183
49  indonli_mnli_idkmrc-nli  idkmrc   2   4   3   2  0.25  57.81991  67.15183
23  indonli_mnli_idkmrc-nli  idkmrc   1   4   2   2  0.75  57.46445  66.69764
50  indonli_mnli_idkmrc-nli  idkmrc   2   4   3   2   0.5  56.99052  66.32245
27  indonli_mnli_idkmrc-nli  idkmrc   1   4   3   1   0.0  56.75355  66.08548
28  indonli_mnli_idkmrc-nli  idkmrc   1   4   3   2  0.25  56.75355  66.08548
29  indonli_mnli_idkmrc-nli  idkmrc   1   4   3   2   0.5  56.04265  65.37458
52  indonli_mnli_idkmrc-nli  idkmrc   2   4   3   3  0.25  55.92417  65.25610
47  indonli_mnli_idkmrc-nli  idkmrc   2   4   2   3  0.75  54.97630  64.23911
53  indonli_mnli_idkmrc-nli  idkmrc   2   4   3   3   0.5  54.97630  64.30823
31  indonli_mnli_idkmrc-nli  idkmrc   1   4   3   3  0.25  54.62085  63.95278
2                   indonli  idkmrc   1   4   2   1   0.0  54.62085  62.08946
26  indonli_mnli_idkmrc-nli  idkmrc   1   4   2   3  0.75  54.26540  63.52821
32  indonli_mnli_idkmrc-nli  idkmrc   1   4   3   3   0.5  53.79147  63.12339
9              indonli_mnli  idkmrc   1   4   3   1   0.0  52.60664  60.54560
51  indonli_mnli_idkmrc-nli  idkmrc   2   4   3   2  0.75  52.36967  61.61076
30  indonli_mnli_idkmrc-nli  idkmrc   1   4   3   2  0.75  51.65877  60.89986
54  indonli_mnli_idkmrc-nli  idkmrc   2   4   3   3  0.75  48.22275  57.55270
33  indonli_mnli_idkmrc-nli  idkmrc   1   4   3   3  0.75  47.39336  56.72332
3                   indonli  idkmrc   1   4   3   1   0.0  43.95735  51.95651

In [43]:
print(f"{data} sorted by F1")
sorted_table = table.sort_values(by='F1', ascending=False)
sorted_table

idkmrc sorted by F1

                        MSC    data  TQ  TS MSI  VA    TH        EM        F1
0                  Baseline  idkmrc  BL  BL  BL  BL    BL  75.82938  84.25128
17  indonli_mnli_idkmrc-nli  idkmrc   1   4   1   3  0.25  75.82938  84.25128
40  indonli_mnli_idkmrc-nli  idkmrc   2   4   1   3  0.75  75.82938  84.25128
39  indonli_mnli_idkmrc-nli  idkmrc   2   4   1   3   0.5  75.82938  84.25128
18  indonli_mnli_idkmrc-nli  idkmrc   1   4   1   3   0.5  75.82938  84.25128
19  indonli_mnli_idkmrc-nli  idkmrc   1   4   1   3  0.75  75.82938  84.25128
38  indonli_mnli_idkmrc-nli  idkmrc   2   4   1   3  0.25  75.82938  84.25128
34  indonli_mnli_idkmrc-nli  idkmrc   2   4   1   1   0.0  75.82938  84.16834
37  indonli_mnli_idkmrc-nli  idkmrc   2   4   1   2  0.75  75.94787  84.16834
36  indonli_mnli_idkmrc-nli  idkmrc   2   4   1   2   0.5  75.82938  84.16834
35  indonli_mnli_idkmrc-nli  idkmrc   2   4   1   2  0.25  75.82938  84.16834
13  indonli_mnli_idkmrc-nli  idkmrc   1   4   1   1   0.0  75.82938  84.16834
14  indonli_mnli_idkmrc-nli  idkmrc   1   4   1   2  0.25  75.82938  84.16834
15  indonli_mnli_idkmrc-nli  idkmrc   1   4   1   2   0.5  75.82938  84.16834
16  indonli_mnli_idkmrc-nli  idkmrc   1   4   1   2  0.75  75.94787  84.16834
10             indonli_mnli  idkmrc   2   4   1   1   0.0  75.47393  83.89583
4                   indonli  idkmrc   2   4   1   1   0.0  75.35545  83.42190
5                   indonli  idkmrc   2   4   2   1   0.0  73.93365  82.22194
11             indonli_mnli  idkmrc   2   4   2   1   0.0  72.63033  81.10442
6                   indonli  idkmrc   2   4   3   1   0.0  72.63033  80.93617
12             indonli_mnli  idkmrc   2   4   3   1   0.0  71.44550  79.91959
7              indonli_mnli  idkmrc   1   4   1   1   0.0  71.32701  78.02263
1                   indonli  idkmrc   1   4   1   1   0.0  68.48341  75.02483
41  indonli_mnli_idkmrc-nli  idkmrc   2   4   2   1   0.0  62.44076  71.71344
42  indonli_mnli_idkmrc-nli  idkmrc   2   4   2   2  0.25  62.44076  71.71344
43  indonli_mnli_idkmrc-nli  idkmrc   2   4   2   2   0.5  61.72986  71.00254
20  indonli_mnli_idkmrc-nli  idkmrc   1   4   2   1   0.0  61.49289  70.76557
21  indonli_mnli_idkmrc-nli  idkmrc   1   4   2   2  0.25  61.49289  70.76557
45  indonli_mnli_idkmrc-nli  idkmrc   2   4   2   3  0.25  61.13744  70.41012
22  indonli_mnli_idkmrc-nli  idkmrc   1   4   2   2   0.5  60.90047  70.17316
46  indonli_mnli_idkmrc-nli  idkmrc   2   4   2   3   0.5  60.30806  69.58074
8              indonli_mnli  idkmrc   1   4   2   1   0.0  61.96682  69.50875
24  indonli_mnli_idkmrc-nli  idkmrc   1   4   2   3  0.25  59.95261  69.22529
25  indonli_mnli_idkmrc-nli  idkmrc   1   4   2   3   0.5  59.24171  68.51439
44  indonli_mnli_idkmrc-nli  idkmrc   2   4   2   2  0.75  57.93839  67.17158
49  indonli_mnli_idkmrc-nli  idkmrc   2   4   3   2  0.25  57.81991  67.15183
48  indonli_mnli_idkmrc-nli  idkmrc   2   4   3   1   0.0  57.81991  67.15183
23  indonli_mnli_idkmrc-nli  idkmrc   1   4   2   2  0.75  57.46445  66.69764
50  indonli_mnli_idkmrc-nli  idkmrc   2   4   3   2   0.5  56.99052  66.32245
27  indonli_mnli_idkmrc-nli  idkmrc   1   4   3   1   0.0  56.75355  66.08548
28  indonli_mnli_idkmrc-nli  idkmrc   1   4   3   2  0.25  56.75355  66.08548
29  indonli_mnli_idkmrc-nli  idkmrc   1   4   3   2   0.5  56.04265  65.37458
52  indonli_mnli_idkmrc-nli  idkmrc   2   4   3   3  0.25  55.92417  65.25610
53  indonli_mnli_idkmrc-nli  idkmrc   2   4   3   3   0.5  54.97630  64.30823
47  indonli_mnli_idkmrc-nli  idkmrc   2   4   2   3  0.75  54.97630  64.23911
31  indonli_mnli_idkmrc-nli  idkmrc   1   4   3   3  0.25  54.62085  63.95278
26  indonli_mnli_idkmrc-nli  idkmrc   1   4   2   3  0.75  54.26540  63.52821
32  indonli_mnli_idkmrc-nli  idkmrc   1   4   3   3   0.5  53.79147  63.12339
2                   indonli  idkmrc   1   4   2   1   0.0  54.62085  62.08946
51  indonli_mnli_idkmrc-nli  idkmrc   2   4   3   2  0.75  52.36967  61.61076
30  indonli_mnli_idkmrc-nli  idkmrc   1   4   3   2  0.75  51.65877  60.89986
9              indonli_mnli  idkmrc   1   4   3   1   0.0  52.60664  60.54560
54  indonli_mnli_idkmrc-nli  idkmrc   2   4   3   3  0.75  48.22275  57.55270
33  indonli_mnli_idkmrc-nli  idkmrc   1   4   3   3  0.75  47.39336  56.72332
3                   indonli  idkmrc   1   4   3   1   0.0  43.95735  51.95651

## TYDI-QA-ID

In [44]:
data = "tydiqaid"
url_list = take_all_url_nli_validator(data)
table = pd.DataFrame(create_table_nli_validator(url_list, data))
table.to_excel(f'{data}-nli-validator.xlsx', index=False)
table

Amount of url: 55

Processing URLs: 100%|█████████████████████████████████████████████████████████████████| 55/55 [00:47<00:00,  1.15URL/s]

,MSC,data,TQ,TS,MSI,VA,TH,EM,F1
0,Baseline,tydiqaid,BL,BL,BL,BL,BL,61.28655,76.47617
1,indonli,tydiqaid,1,4,1,1,0.0,35.90643,46.40946
2,indonli,tydiqaid,1,4,2,1,0.0,36.14035,48.78837
3,indonli,tydiqaid,1,4,3,1,0.0,36.25731,50.22544
4,indonli,tydiqaid,2,4,1,1,0.0,59.76608,74.66427
5,indonli,tydiqaid,2,4,2,1,0.0,60.00000,75.23357
6,indonli,tydiqaid,2,4,3,1,0.0,60.11696,75.35280
7,indonli_mnli,tydiqaid,1,4,1,1,0.0,42.92398,54.29436
8,indonli_mnli,tydiqaid,1,4,2,1,0.0,43.50877,56.56735
9,indonli_mnli,tydiqaid,1,4,3,1,0.0,43.50877,57.57900
10,indonli_mnli,tydiqaid,2,4,1,1,0.0,59.88304,74.81525
11,indonli_mnli,tydiqaid,2,4,2,1,0.0,60.00000,75.27828
12,indonli_mnli,tydiqaid,2,4,3,1,0.0,60.00000,75.30513
13,indonli_mnli_tydiqaid-nli,tydiqaid,1,4,1,1,0.0,61.16959,76.24257
14,indonli_mnli_tydiqaid-nli,tydiqaid,1,4,1,2,0.25,61.16959,76.24257
15,indonli_mnli_tydiqaid-nli,tydiqaid,1,4,1,2,0.5,61.16959,76.24257
16,indonli_mnli_tydiqaid-nli,tydiqaid,1,4,1,2,0.75,60.70175,75.74480
17,indonli_mnli_tydiqaid-nli,tydiqaid,1,4,1,3,0.25,61.28655,76.47617
18,indonli_mnli_tydiqaid-nli,tydiqaid,1,4,1,3,0.5,61.28655,76.47617
19,indonli_mnli_tydiqaid-nli,tydiqaid,1,4,1,3,0.75,61.28655,76.47617
20,indonli_mnli_tydiqaid-nli,tydiqaid,1,4,2,1,0.0,61.28655,77.30986
21,indonli_mnli_tydiqaid-nli,tydiqaid,1,4,2,2,0.25,61.28655,77.30986
22,indonli_mnli_tydiqaid-nli,tydiqaid,1,4,2,2,0.5,61.28655,77.30986
23,indonli_mnli_tydiqaid-nli,tydiqaid,1,4,2,2,0.75,60.93567,76.94019
24,indonli_mnli_tydiqaid-nli,tydiqaid,1,4,2,3,0.25,61.28655,77.45290
25,indonli_mnli_tydiqaid-nli,tydiqaid,1,4,2,3,0.5,61.28655,77.45290
26,indonli_mnli_tydiqaid-nli,tydiqaid,1,4,2,3,0.75,61.16959,77.42606
27,indonli_mnli_tydiqaid-nli,tydiqaid,1,4,3,1,0.0,61.28655,77.30986
28,indonli_mnli_tydiqaid-nli,tydiqaid,1,4,3,2,0.25,61.28655,77.30986
29,indonli_mnli_tydiqaid-nli,tydiqaid,1,4,3,2,0.5,61.28655,77.30986
30,indonli_mnli_tydiqaid-nli,tydiqaid,1,4,3,2,0.75,60.93567,76.95494
31,indonli_mnli_tydiqaid-nli,tydiqaid,1,4,3,3,0.25,61.28655,77.33594
32,indonli_mnli_tydiqaid-nli,tydiqaid,1,4,3,3,0.5,61.28655,77.33594
33,indonli_mnli_tydiqaid-nli,tydiqaid,1,4,3,3,0.75,61.05263,77.19823
34,indonli_mnli_tydiqaid-nli,tydiqaid,2,4,1,1,0.0,61.16959,76.24257
35,indonli_mnli_tydiqaid-nli,tydiqaid,2,4,1,2,0.25,61.16959,76.24257
36,indonli_mnli_tydiqaid-nli,tydiqaid,2,4,1,2,0.5,61.16959,76.24257
37,indonli_mnli_tydiqaid-nli,tydiqaid,2,4,1,2,0.75,60.70175,75.74480
38,indonli_mnli_tydiqaid-nli,tydiqaid,2,4,1,3,0.25,61.28655,76.47617
39,indonli_mnli_tydiqaid-nli,tydiqaid,2,4,1,3,0.5,61.28655,76.47617
40,indonli_mnli_tydiqaid-nli,tydiqaid,2,4,1,3,0.75,61.28655,76.47617
41,indonli_mnli_tydiqaid-nli,tydiqaid,2,4,2,1,0.0,61.28655,77.30986
42,indonli_mnli_tydiqaid-nli,tydiqaid,2,4,2,2,0.25,61.28655,77.30986
43,indonli_mnli_tydiqaid-nli,tydiqaid,2,4,2,2,0.5,61.28655,77.30986
44,indonli_mnli_tydiqaid-nli,tydiqaid,2,4,2,2,0.75,60.93567,76.94019
45,indonli_mnli_tydiqaid-nli,tydiqaid,2,4,2,3,0.25,61.28655,77.45290
46,indonli_mnli_tydiqaid-nli,tydiqaid,2,4,2,3,0.5,61.28655,77.45290
47,indonli_mnli_tydiqaid-nli,tydiqaid,2,4,2,3,0.75,61.16959,77.42606
48,indonli_mnli_tydiqaid-nli,tydiqaid,2,4,3,1,0.0,61.28655,77.30986
49,indonli_mnli_tydiqaid-nli,tydiqaid,2,4,3,2,0.25,61.28655,77.30986
50,indonli_mnli_tydiqaid-nli,tydiqaid,2,4,3,2,0.5,61.28655,77.30986
51,indonli_mnli_tydiqaid-nli,tydiqaid,2,4,3,2,0.75,60.93567,76.95494
52,indonli_mnli_tydiqaid-nli,tydiqaid,2,4,3,3,0.25,61.28655,77.33594
53,indonli_mnli_tydiqaid-nli,tydiqaid,2,4,3,3,0.5,61.28655,77.33594
54,indonli_mnli_tydiqaid-nli,tydiqaid,2,4,3,3,0.75,61.05263,77.19823

In [45]:
print(f"{data} sorted by EM")
sorted_table = table.sort_values(by='EM', ascending=False)
sorted_table

tydiqaid sorted by EM

,MSC,data,TQ,TS,MSI,VA,TH,EM,F1
0,Baseline,tydiqaid,BL,BL,BL,BL,BL,61.28655,76.47617
41,indonli_mnli_tydiqaid-nli,tydiqaid,2,4,2,1,0.0,61.28655,77.30986
25,indonli_mnli_tydiqaid-nli,tydiqaid,1,4,2,3,0.5,61.28655,77.45290
28,indonli_mnli_tydiqaid-nli,tydiqaid,1,4,3,2,0.25,61.28655,77.30986
29,indonli_mnli_tydiqaid-nli,tydiqaid,1,4,3,2,0.5,61.28655,77.30986
31,indonli_mnli_tydiqaid-nli,tydiqaid,1,4,3,3,0.25,61.28655,77.33594
32,indonli_mnli_tydiqaid-nli,tydiqaid,1,4,3,3,0.5,61.28655,77.33594
38,indonli_mnli_tydiqaid-nli,tydiqaid,2,4,1,3,0.25,61.28655,76.47617
39,indonli_mnli_tydiqaid-nli,tydiqaid,2,4,1,3,0.5,61.28655,76.47617
40,indonli_mnli_tydiqaid-nli,tydiqaid,2,4,1,3,0.75,61.28655,76.47617
42,indonli_mnli_tydiqaid-nli,tydiqaid,2,4,2,2,0.25,61.28655,77.30986
22,indonli_mnli_tydiqaid-nli,tydiqaid,1,4,2,2,0.5,61.28655,77.30986
43,indonli_mnli_tydiqaid-nli,tydiqaid,2,4,2,2,0.5,61.28655,77.30986
45,indonli_mnli_tydiqaid-nli,tydiqaid,2,4,2,3,0.25,61.28655,77.45290
46,indonli_mnli_tydiqaid-nli,tydiqaid,2,4,2,3,0.5,61.28655,77.45290
48,indonli_mnli_tydiqaid-nli,tydiqaid,2,4,3,1,0.0,61.28655,77.30986
49,indonli_mnli_tydiqaid-nli,tydiqaid,2,4,3,2,0.25,61.28655,77.30986
50,indonli_mnli_tydiqaid-nli,tydiqaid,2,4,3,2,0.5,61.28655,77.30986
52,indonli_mnli_tydiqaid-nli,tydiqaid,2,4,3,3,0.25,61.28655,77.33594
53,indonli_mnli_tydiqaid-nli,tydiqaid,2,4,3,3,0.5,61.28655,77.33594
24,indonli_mnli_tydiqaid-nli,tydiqaid,1,4,2,3,0.25,61.28655,77.45290
27,indonli_mnli_tydiqaid-nli,tydiqaid,1,4,3,1,0.0,61.28655,77.30986
21,indonli_mnli_tydiqaid-nli,tydiqaid,1,4,2,2,0.25,61.28655,77.30986
20,indonli_mnli_tydiqaid-nli,tydiqaid,1,4,2,1,0.0,61.28655,77.30986
19,indonli_mnli_tydiqaid-nli,tydiqaid,1,4,1,3,0.75,61.28655,76.47617
18,indonli_mnli_tydiqaid-nli,tydiqaid,1,4,1,3,0.5,61.28655,76.47617
17,indonli_mnli_tydiqaid-nli,tydiqaid,1,4,1,3,0.25,61.28655,76.47617
34,indonli_mnli_tydiqaid-nli,tydiqaid,2,4,1,1,0.0,61.16959,76.24257
47,indonli_mnli_tydiqaid-nli,tydiqaid,2,4,2,3,0.75,61.16959,77.42606
13,indonli_mnli_tydiqaid-nli,tydiqaid,1,4,1,1,0.0,61.16959,76.24257
36,indonli_mnli_tydiqaid-nli,tydiqaid,2,4,1,2,0.5,61.16959,76.24257
35,indonli_mnli_tydiqaid-nli,tydiqaid,2,4,1,2,0.25,61.16959,76.24257
14,indonli_mnli_tydiqaid-nli,tydiqaid,1,4,1,2,0.25,61.16959,76.24257
15,indonli_mnli_tydiqaid-nli,tydiqaid,1,4,1,2,0.5,61.16959,76.24257
26,indonli_mnli_tydiqaid-nli,tydiqaid,1,4,2,3,0.75,61.16959,77.42606
33,indonli_mnli_tydiqaid-nli,tydiqaid,1,4,3,3,0.75,61.05263,77.19823
54,indonli_mnli_tydiqaid-nli,tydiqaid,2,4,3,3,0.75,61.05263,77.19823
44,indonli_mnli_tydiqaid-nli,tydiqaid,2,4,2,2,0.75,60.93567,76.94019
30,indonli_mnli_tydiqaid-nli,tydiqaid,1,4,3,2,0.75,60.93567,76.95494
51,indonli_mnli_tydiqaid-nli,tydiqaid,2,4,3,2,0.75,60.93567,76.95494
23,indonli_mnli_tydiqaid-nli,tydiqaid,1,4,2,2,0.75,60.93567,76.94019
16,indonli_mnli_tydiqaid-nli,tydiqaid,1,4,1,2,0.75,60.70175,75.74480
37,indonli_mnli_tydiqaid-nli,tydiqaid,2,4,1,2,0.75,60.70175,75.74480
6,indonli,tydiqaid,2,4,3,1,0.0,60.11696,75.35280
11,indonli_mnli,tydiqaid,2,4,2,1,0.0,60.00000,75.27828
12,indonli_mnli,tydiqaid,2,4,3,1,0.0,60.00000,75.30513
5,indonli,tydiqaid,2,4,2,1,0.0,60.00000,75.23357
10,indonli_mnli,tydiqaid,2,4,1,1,0.0,59.88304,74.81525
4,indonli,tydiqaid,2,4,1,1,0.0,59.76608,74.66427
9,indonli_mnli,tydiqaid,1,4,3,1,0.0,43.50877,57.57900
8,indonli_mnli,tydiqaid,1,4,2,1,0.0,43.50877,56.56735
7,indonli_mnli,tydiqaid,1,4,1,1,0.0,42.92398,54.29436
3,indonli,tydiqaid,1,4,3,1,0.0,36.25731,50.22544
2,indonli,tydiqaid,1,4,2,1,0.0,36.14035,48.78837
1,indonli,tydiqaid,1,4,1,1,0.0,35.90643,46.40946

In [46]:
print(f"{data} sorted by F1")
sorted_table = table.sort_values(by='F1', ascending=False)
sorted_table

tydiqaid sorted by F1

,MSC,data,TQ,TS,MSI,VA,TH,EM,F1
25,indonli_mnli_tydiqaid-nli,tydiqaid,1,4,2,3,0.5,61.28655,77.45290
46,indonli_mnli_tydiqaid-nli,tydiqaid,2,4,2,3,0.5,61.28655,77.45290
45,indonli_mnli_tydiqaid-nli,tydiqaid,2,4,2,3,0.25,61.28655,77.45290
24,indonli_mnli_tydiqaid-nli,tydiqaid,1,4,2,3,0.25,61.28655,77.45290
47,indonli_mnli_tydiqaid-nli,tydiqaid,2,4,2,3,0.75,61.16959,77.42606
26,indonli_mnli_tydiqaid-nli,tydiqaid,1,4,2,3,0.75,61.16959,77.42606
31,indonli_mnli_tydiqaid-nli,tydiqaid,1,4,3,3,0.25,61.28655,77.33594
53,indonli_mnli_tydiqaid-nli,tydiqaid,2,4,3,3,0.5,61.28655,77.33594
52,indonli_mnli_tydiqaid-nli,tydiqaid,2,4,3,3,0.25,61.28655,77.33594
32,indonli_mnli_tydiqaid-nli,tydiqaid,1,4,3,3,0.5,61.28655,77.33594
27,indonli_mnli_tydiqaid-nli,tydiqaid,1,4,3,1,0.0,61.28655,77.30986
21,indonli_mnli_tydiqaid-nli,tydiqaid,1,4,2,2,0.25,61.28655,77.30986
20,indonli_mnli_tydiqaid-nli,tydiqaid,1,4,2,1,0.0,61.28655,77.30986
28,indonli_mnli_tydiqaid-nli,tydiqaid,1,4,3,2,0.25,61.28655,77.30986
29,indonli_mnli_tydiqaid-nli,tydiqaid,1,4,3,2,0.5,61.28655,77.30986
42,indonli_mnli_tydiqaid-nli,tydiqaid,2,4,2,2,0.25,61.28655,77.30986
41,indonli_mnli_tydiqaid-nli,tydiqaid,2,4,2,1,0.0,61.28655,77.30986
43,indonli_mnli_tydiqaid-nli,tydiqaid,2,4,2,2,0.5,61.28655,77.30986
48,indonli_mnli_tydiqaid-nli,tydiqaid,2,4,3,1,0.0,61.28655,77.30986
49,indonli_mnli_tydiqaid-nli,tydiqaid,2,4,3,2,0.25,61.28655,77.30986
50,indonli_mnli_tydiqaid-nli,tydiqaid,2,4,3,2,0.5,61.28655,77.30986
22,indonli_mnli_tydiqaid-nli,tydiqaid,1,4,2,2,0.5,61.28655,77.30986
33,indonli_mnli_tydiqaid-nli,tydiqaid,1,4,3,3,0.75,61.05263,77.19823
54,indonli_mnli_tydiqaid-nli,tydiqaid,2,4,3,3,0.75,61.05263,77.19823
51,indonli_mnli_tydiqaid-nli,tydiqaid,2,4,3,2,0.75,60.93567,76.95494
30,indonli_mnli_tydiqaid-nli,tydiqaid,1,4,3,2,0.75,60.93567,76.95494
23,indonli_mnli_tydiqaid-nli,tydiqaid,1,4,2,2,0.75,60.93567,76.94019
44,indonli_mnli_tydiqaid-nli,tydiqaid,2,4,2,2,0.75,60.93567,76.94019
38,indonli_mnli_tydiqaid-nli,tydiqaid,2,4,1,3,0.25,61.28655,76.47617
40,indonli_mnli_tydiqaid-nli,tydiqaid,2,4,1,3,0.75,61.28655,76.47617
19,indonli_mnli_tydiqaid-nli,tydiqaid,1,4,1,3,0.75,61.28655,76.47617
39,indonli_mnli_tydiqaid-nli,tydiqaid,2,4,1,3,0.5,61.28655,76.47617
0,Baseline,tydiqaid,BL,BL,BL,BL,BL,61.28655,76.47617
18,indonli_mnli_tydiqaid-nli,tydiqaid,1,4,1,3,0.5,61.28655,76.47617
17,indonli_mnli_tydiqaid-nli,tydiqaid,1,4,1,3,0.25,61.28655,76.47617
15,indonli_mnli_tydiqaid-nli,tydiqaid,1,4,1,2,0.5,61.16959,76.24257
13,indonli_mnli_tydiqaid-nli,tydiqaid,1,4,1,1,0.0,61.16959,76.24257
14,indonli_mnli_tydiqaid-nli,tydiqaid,1,4,1,2,0.25,61.16959,76.24257
36,indonli_mnli_tydiqaid-nli,tydiqaid,2,4,1,2,0.5,61.16959,76.24257
35,indonli_mnli_tydiqaid-nli,tydiqaid,2,4,1,2,0.25,61.16959,76.24257
34,indonli_mnli_tydiqaid-nli,tydiqaid,2,4,1,1,0.0,61.16959,76.24257
37,indonli_mnli_tydiqaid-nli,tydiqaid,2,4,1,2,0.75,60.70175,75.74480
16,indonli_mnli_tydiqaid-nli,tydiqaid,1,4,1,2,0.75,60.70175,75.74480
6,indonli,tydiqaid,2,4,3,1,0.0,60.11696,75.35280
12,indonli_mnli,tydiqaid,2,4,3,1,0.0,60.00000,75.30513
11,indonli_mnli,tydiqaid,2,4,2,1,0.0,60.00000,75.27828
5,indonli,tydiqaid,2,4,2,1,0.0,60.00000,75.23357
10,indonli_mnli,tydiqaid,2,4,1,1,0.0,59.88304,74.81525
4,indonli,tydiqaid,2,4,1,1,0.0,59.76608,74.66427
9,indonli_mnli,tydiqaid,1,4,3,1,0.0,43.50877,57.57900
8,indonli_mnli,tydiqaid,1,4,2,1,0.0,43.50877,56.56735
7,indonli_mnli,tydiqaid,1,4,1,1,0.0,42.92398,54.29436
3,indonli,tydiqaid,1,4,3,1,0.0,36.25731,50.22544
2,indonli,tydiqaid,1,4,2,1,0.0,36.14035,48.78837
1,indonli,tydiqaid,1,4,1,1,0.0,35.90643,46.40946

## SQUAD-ID

In [ ]:
data = "squadid"
url_list = take_all_url_nli_validator(data)
table = pd.DataFrame(create_table_nli_validator(url_list, data))
table.to_excel(f'{data}-nli-validator.xlsx', index=False)
table

Amount of url: 55

Processing URLs:  42%|███████████████████████████▏                                     | 23/55 [00:20<00:27,  1.18URL/s]

In [ ]:
print(f"{data} sorted by EM")
sorted_table = table.sort_values(by='EM', ascending=False)
sorted_table

In [ ]:
print(f"{data} sorted by F1")
sorted_table = table.sort_values(by='F1', ascending=False)
sorted_table