In [1]:
import pandas as pd
import requests
from bs4 import BeautifulSoup
import re
from collections import OrderedDict
import pandas as pd
import re
from tqdm import tqdm

In [2]:
def em_and_f1(p_url, acc, id="L1", rounded_to_num=5):

    page = requests.get(p_url)
    soup = BeautifulSoup(page.content)

    tr = soup.find('tr', attrs={'id': id})
    td = tr.find(attrs={'class': 'overflow-visible whitespace-pre px-3'}).text
    x = re.findall("\d+\.\d+", td)

    if acc == True: return round(float(x[0]), rounded_to_num)
    else: return round(float(x[1]), rounded_to_num)

# Intermediate task transfer-learning

In [3]:
prefix = "https://huggingface.co/muhammadravi251001/fine-tuned-DatasetQAS-"
suffix = "-LR-1e-05/blob/main/results/evaluation/metric_result.txt"

In [4]:
def take_all_url_ittl(data):

    ittl_arr = ["without-ITTL", "with-ITTL"]
    freeze_arr = ["without-freeze", "with-freeze"]

    url_arr = []
    for ittl in ittl_arr:
        for freeze in freeze_arr:

            if ittl == "without-ITTL":
                freeze = "without-freeze"
            
            url_arr.append(f"{prefix}{data}-with-xlm-roberta-large-{ittl}-{freeze}{suffix}")
    
    url_arr = list(OrderedDict.fromkeys(url_arr))
    print("Amount of url:", len(url_arr))
    return url_arr

In [5]:
def extract_values_ittl(url, data):

    ittl_pattern = re.compile(r'with-ITTL')
    freeze_pattern = re.compile(r'with-freeze')

    ittl_match = ittl_pattern.search(url)
    ittl = bool(ittl_match)

    freeze_match = freeze_pattern.search(url)
    freeze = bool(freeze_match)

    EM = em_and_f1(url, True)
    F1 = em_and_f1(url, False)

    if data == "IDK-MRC":
        data = "idkmrc"
    elif data == "TYDI-QA-ID":
        data = "tydiqaid"
    elif data == "Squad-ID":
        data = "squadid"

    return data, ittl, freeze, EM, F1

In [6]:
def create_table_ittl(url_list, data):
    
    data_list = []
    for url in tqdm(url_list, desc="Processing URLs", unit="URL"):
        extracted_values = extract_values_ittl(url, data)
        data_list.append(extracted_values)

    df = pd.DataFrame(data_list, columns=['data', 'ITTL', 'Freeze', 'EM', 'F1'])
    
    df.loc[0, 'ITTL'] = "Baseline"
    df.loc[0, 'Freeze'] = "Baseline"
    
    return df

## IDK-MRC

In [7]:
data = "IDK-MRC"
url_list = take_all_url_ittl(data)
table = pd.DataFrame(create_table_ittl(url_list, data))
table.to_excel(f'{data}-ittl.xlsx', index=False)
table

Amount of url: 3

Processing URLs: 100%|███████████████████████████████████████████████████████████████████| 3/3 [00:02<00:00,  1.16URL/s]

     data      ITTL    Freeze        EM        F1
0  idkmrc  Baseline  Baseline  77.94811  84.63667
1  idkmrc      True     False  77.94811  84.23181
2  idkmrc      True      True  78.30189  85.14123

In [8]:
print(f"{data} sorted by EM")
sorted_table = table.sort_values(by='EM', ascending=False)
sorted_table

IDK-MRC sorted by EM

     data      ITTL    Freeze        EM        F1
2  idkmrc      True      True  78.30189  85.14123
0  idkmrc  Baseline  Baseline  77.94811  84.63667
1  idkmrc      True     False  77.94811  84.23181

In [9]:
print(f"{data} sorted by F1")
sorted_table = table.sort_values(by='F1', ascending=False)
sorted_table

IDK-MRC sorted by F1

     data      ITTL    Freeze        EM        F1
2  idkmrc      True      True  78.30189  85.14123
0  idkmrc  Baseline  Baseline  77.94811  84.63667
1  idkmrc      True     False  77.94811  84.23181

## TYDI-QA-ID

In [10]:
data = "TYDI-QA-ID"
url_list = take_all_url_ittl(data)
table = pd.DataFrame(create_table_ittl(url_list, data))
table.to_excel(f'{data}-ittl.xlsx', index=False)
table

Amount of url: 3

Processing URLs: 100%|███████████████████████████████████████████████████████████████████| 3/3 [00:02<00:00,  1.10URL/s]

       data      ITTL    Freeze        EM        F1
0  tydiqaid  Baseline  Baseline  66.51109  78.26768
1  tydiqaid      True     False  65.11085  76.39569
2  tydiqaid      True      True  66.51109  77.58959

In [11]:
print(f"{data} sorted by EM")
sorted_table = table.sort_values(by='EM', ascending=False)
sorted_table

TYDI-QA-ID sorted by EM

       data      ITTL    Freeze        EM        F1
0  tydiqaid  Baseline  Baseline  66.51109  78.26768
2  tydiqaid      True      True  66.51109  77.58959
1  tydiqaid      True     False  65.11085  76.39569

In [12]:
print(f"{data} sorted by F1")
sorted_table = table.sort_values(by='F1', ascending=False)
sorted_table

TYDI-QA-ID sorted by F1

       data      ITTL    Freeze        EM        F1
0  tydiqaid  Baseline  Baseline  66.51109  78.26768
2  tydiqaid      True      True  66.51109  77.58959
1  tydiqaid      True     False  65.11085  76.39569

## SQUAD-ID

In [13]:
data = "Squad-ID"
url_list = take_all_url_ittl(data)
table = pd.DataFrame(create_table_ittl(url_list, data))
table.to_excel(f'{data}-ittl.xlsx', index=False)
table

Amount of url: 3

Processing URLs: 100%|███████████████████████████████████████████████████████████████████| 3/3 [00:02<00:00,  1.03URL/s]

      data      ITTL    Freeze        EM        F1
0  squadid  Baseline  Baseline  49.54021  66.69283
1  squadid      True     False  49.94148  67.20374
2  squadid      True      True  50.40963  67.63862

In [14]:
print(f"{data} sorted by EM")
sorted_table = table.sort_values(by='EM', ascending=False)
sorted_table

Squad-ID sorted by EM

      data      ITTL    Freeze        EM        F1
2  squadid      True      True  50.40963  67.63862
1  squadid      True     False  49.94148  67.20374
0  squadid  Baseline  Baseline  49.54021  66.69283

In [15]:
print(f"{data} sorted by F1")
sorted_table = table.sort_values(by='F1', ascending=False)
sorted_table

Squad-ID sorted by F1

      data      ITTL    Freeze        EM        F1
2  squadid      True      True  50.40963  67.63862
1  squadid      True     False  49.94148  67.20374
0  squadid  Baseline  Baseline  49.54021  66.69283

# Inference with NLI validation

In [16]:
prefix = "https://huggingface.co/muhammadravi251001/fine-tuned-FilteringNLI-"
suffix = "/blob/main/results/evaluation/metric_result.txt"

In [17]:
def take_all_url_nli_validator(data):

    baseline = f"{prefix}indonli_mnli-{data}-TQ2-TS4-MS3-VA0-TH0.0{suffix}"
    msc_arr = ["indonli", "indonli_mnli", f"indonli_mnli_{data}-nli"]
    tq_arr = [1, 2]
    msi_arr = [1, 2, 3]
    var_arr = [1, 2, 3]
    th_arr = [0.25, 0.5, 0.75]

    url_arr = []
    url_arr.append(baseline)

    for msc in msc_arr:
        for tq in tq_arr:
            for msi in msi_arr:
                for var in var_arr:
                    for th in th_arr:
                        
                        if msc == "indonli" or msc == "indonli_mnli":
                            var = 1
                            th = 0.0

                        if var == 1:
                            th = 0.0
                            
                        if (var == 3) and (msi == 1):
                            continue

                        url_arr.append(f"{prefix}{msc}-{data}-TQ{tq}-TS4-MS{msi}-VA{var}-TH{th}{suffix}")
    
    url_arr = list(OrderedDict.fromkeys(url_arr))
    print("Amount of url:", len(url_arr))
    return url_arr

In [18]:
def extract_values_nli_validator(url, data):

    msc_list = f"indonli_mnli_{data}-nli|indonli_mnli|indonli"
    pattern = re.compile(r'.*FilteringNLI-({})-{}-TQ(\d+)-TS(\d+)-MS([\d]+)-VA([\d]+)-TH([\d.]+).*'.format(msc_list, data))
    match = pattern.match(url)
    
    if match:
        msc = match.group(1)
        TQ = int(match.group(2))
        TS = int(match.group(3))
        MSI = int(match.group(4))
        VA = int(match.group(5))
        
        TH = float(match.group(6))
        if TH == '0.00':
            TH = '0.0'
        elif TH == '0.50':
            TH = '0.5'

        EM = em_and_f1(url, True)
        F1 = em_and_f1(url, False)

        return msc, data, TQ, TS, MSI, VA, TH, EM, F1
    
    else:
        return None

In [19]:
def create_table_nli_validator(url_list, data):
    
    data_list = []
    for url in tqdm(url_list, desc="Processing URLs", unit="URL"):
        extracted_values = extract_values_nli_validator(url, data)
        data_list.append(extracted_values)

    df = pd.DataFrame(data_list, columns=['MSC', 'data', 'TQ', 'TS', 'MSI', 'VA', 'TH', 'EM', 'F1'])
    
    df.loc[0, 'MSC'] = "Baseline"
    df.loc[0, 'TQ'] = "BL"
    df.loc[0, 'TS'] = "BL"
    df.loc[0, 'MSI'] = "BL"
    df.loc[0, 'VA'] = "BL"
    df.loc[0, 'TH'] = "BL"
    
    return df

In [20]:
data = "idkmrc"
url_list = take_all_url_nli_validator(data)
table = pd.DataFrame(create_table_nli_validator(url_list, data))
table.to_excel(f'{data}-nli-validator.xlsx', index=False)
table

Amount of url: 49

Processing URLs: 100%|█████████████████████████████████████████████████████████████████| 49/49 [00:45<00:00,  1.07URL/s]

                        MSC    data  TQ  TS MSI  VA    TH        EM        F1
0                  Baseline  idkmrc  BL  BL  BL  BL    BL  75.82938  84.25128
1                   indonli  idkmrc   1   4   1   1   0.0  68.48341  75.02483
2                   indonli  idkmrc   1   4   2   1   0.0  54.62085  62.08946
3                   indonli  idkmrc   1   4   3   1   0.0  43.95735  51.95651
4                   indonli  idkmrc   2   4   1   1   0.0  75.35545  83.42190
5                   indonli  idkmrc   2   4   2   1   0.0  73.93365  82.22194
6                   indonli  idkmrc   2   4   3   1   0.0  72.63033  80.93617
7              indonli_mnli  idkmrc   1   4   1   1   0.0  71.32701  78.02263
8              indonli_mnli  idkmrc   1   4   2   1   0.0  61.96682  69.50875
9              indonli_mnli  idkmrc   1   4   3   1   0.0  52.60664  60.54560
10             indonli_mnli  idkmrc   2   4   1   1   0.0  75.47393  83.89583
11             indonli_mnli  idkmrc   2   4   2   1   0.0  72.63033  81.10442
12             indonli_mnli  idkmrc   2   4   3   1   0.0  71.44550  79.91959
13  indonli_mnli_idkmrc-nli  idkmrc   1   4   1   1   0.0  75.82938  84.16834
14  indonli_mnli_idkmrc-nli  idkmrc   1   4   1   2  0.25  75.82938  84.16834
15  indonli_mnli_idkmrc-nli  idkmrc   1   4   1   2   0.5  75.82938  84.16834
16  indonli_mnli_idkmrc-nli  idkmrc   1   4   1   2  0.75  75.94787  84.16834
17  indonli_mnli_idkmrc-nli  idkmrc   1   4   2   1   0.0  61.49289  70.76557
18  indonli_mnli_idkmrc-nli  idkmrc   1   4   2   2  0.25  61.49289  70.76557
19  indonli_mnli_idkmrc-nli  idkmrc   1   4   2   2   0.5  60.90047  70.17316
20  indonli_mnli_idkmrc-nli  idkmrc   1   4   2   2  0.75  57.46445  66.69764
21  indonli_mnli_idkmrc-nli  idkmrc   1   4   2   3  0.25  59.95261  69.22529
22  indonli_mnli_idkmrc-nli  idkmrc   1   4   2   3   0.5  59.24171  68.51439
23  indonli_mnli_idkmrc-nli  idkmrc   1   4   2   3  0.75  54.26540  63.52821
24  indonli_mnli_idkmrc-nli  idkmrc   1   4   3   1   0.0  56.75355  66.08548
25  indonli_mnli_idkmrc-nli  idkmrc   1   4   3   2  0.25  56.75355  66.08548
26  indonli_mnli_idkmrc-nli  idkmrc   1   4   3   2   0.5  56.04265  65.37458
27  indonli_mnli_idkmrc-nli  idkmrc   1   4   3   2  0.75  51.65877  60.89986
28  indonli_mnli_idkmrc-nli  idkmrc   1   4   3   3  0.25  54.62085  63.95278
29  indonli_mnli_idkmrc-nli  idkmrc   1   4   3   3   0.5  53.79147  63.12339
30  indonli_mnli_idkmrc-nli  idkmrc   1   4   3   3  0.75  47.39336  56.72332
31  indonli_mnli_idkmrc-nli  idkmrc   2   4   1   1   0.0  75.82938  84.16834
32  indonli_mnli_idkmrc-nli  idkmrc   2   4   1   2  0.25  75.82938  84.16834
33  indonli_mnli_idkmrc-nli  idkmrc   2   4   1   2   0.5  75.82938  84.16834
34  indonli_mnli_idkmrc-nli  idkmrc   2   4   1   2  0.75  75.94787  84.16834
35  indonli_mnli_idkmrc-nli  idkmrc   2   4   2   1   0.0  62.44076  71.71344
36  indonli_mnli_idkmrc-nli  idkmrc   2   4   2   2  0.25  62.44076  71.71344
37  indonli_mnli_idkmrc-nli  idkmrc   2   4   2   2   0.5  61.72986  71.00254
38  indonli_mnli_idkmrc-nli  idkmrc   2   4   2   2  0.75  57.93839  67.17158
39  indonli_mnli_idkmrc-nli  idkmrc   2   4   2   3  0.25  61.13744  70.41012
40  indonli_mnli_idkmrc-nli  idkmrc   2   4   2   3   0.5  60.30806  69.58074
41  indonli_mnli_idkmrc-nli  idkmrc   2   4   2   3  0.75  54.97630  64.23911
42  indonli_mnli_idkmrc-nli  idkmrc   2   4   3   1   0.0  57.81991  67.15183
43  indonli_mnli_idkmrc-nli  idkmrc   2   4   3   2  0.25  57.81991  67.15183
44  indonli_mnli_idkmrc-nli  idkmrc   2   4   3   2   0.5  56.99052  66.32245
45  indonli_mnli_idkmrc-nli  idkmrc   2   4   3   2  0.75  52.36967  61.61076
46  indonli_mnli_idkmrc-nli  idkmrc   2   4   3   3  0.25  55.92417  65.25610
47  indonli_mnli_idkmrc-nli  idkmrc   2   4   3   3   0.5  54.97630  64.30823
48  indonli_mnli_idkmrc-nli  idkmrc   2   4   3   3  0.75  48.22275  57.55270

In [21]:
print(f"{data} sorted by EM")
sorted_table = table.sort_values(by='EM', ascending=False)
sorted_table

idkmrc sorted by EM

                        MSC    data  TQ  TS MSI  VA    TH        EM        F1
16  indonli_mnli_idkmrc-nli  idkmrc   1   4   1   2  0.75  75.94787  84.16834
34  indonli_mnli_idkmrc-nli  idkmrc   2   4   1   2  0.75  75.94787  84.16834
13  indonli_mnli_idkmrc-nli  idkmrc   1   4   1   1   0.0  75.82938  84.16834
31  indonli_mnli_idkmrc-nli  idkmrc   2   4   1   1   0.0  75.82938  84.16834
33  indonli_mnli_idkmrc-nli  idkmrc   2   4   1   2   0.5  75.82938  84.16834
15  indonli_mnli_idkmrc-nli  idkmrc   1   4   1   2   0.5  75.82938  84.16834
14  indonli_mnli_idkmrc-nli  idkmrc   1   4   1   2  0.25  75.82938  84.16834
0                  Baseline  idkmrc  BL  BL  BL  BL    BL  75.82938  84.25128
32  indonli_mnli_idkmrc-nli  idkmrc   2   4   1   2  0.25  75.82938  84.16834
10             indonli_mnli  idkmrc   2   4   1   1   0.0  75.47393  83.89583
4                   indonli  idkmrc   2   4   1   1   0.0  75.35545  83.42190
5                   indonli  idkmrc   2   4   2   1   0.0  73.93365  82.22194
11             indonli_mnli  idkmrc   2   4   2   1   0.0  72.63033  81.10442
6                   indonli  idkmrc   2   4   3   1   0.0  72.63033  80.93617
12             indonli_mnli  idkmrc   2   4   3   1   0.0  71.44550  79.91959
7              indonli_mnli  idkmrc   1   4   1   1   0.0  71.32701  78.02263
1                   indonli  idkmrc   1   4   1   1   0.0  68.48341  75.02483
35  indonli_mnli_idkmrc-nli  idkmrc   2   4   2   1   0.0  62.44076  71.71344
36  indonli_mnli_idkmrc-nli  idkmrc   2   4   2   2  0.25  62.44076  71.71344
8              indonli_mnli  idkmrc   1   4   2   1   0.0  61.96682  69.50875
37  indonli_mnli_idkmrc-nli  idkmrc   2   4   2   2   0.5  61.72986  71.00254
18  indonli_mnli_idkmrc-nli  idkmrc   1   4   2   2  0.25  61.49289  70.76557
17  indonli_mnli_idkmrc-nli  idkmrc   1   4   2   1   0.0  61.49289  70.76557
39  indonli_mnli_idkmrc-nli  idkmrc   2   4   2   3  0.25  61.13744  70.41012
19  indonli_mnli_idkmrc-nli  idkmrc   1   4   2   2   0.5  60.90047  70.17316
40  indonli_mnli_idkmrc-nli  idkmrc   2   4   2   3   0.5  60.30806  69.58074
21  indonli_mnli_idkmrc-nli  idkmrc   1   4   2   3  0.25  59.95261  69.22529
22  indonli_mnli_idkmrc-nli  idkmrc   1   4   2   3   0.5  59.24171  68.51439
38  indonli_mnli_idkmrc-nli  idkmrc   2   4   2   2  0.75  57.93839  67.17158
42  indonli_mnli_idkmrc-nli  idkmrc   2   4   3   1   0.0  57.81991  67.15183
43  indonli_mnli_idkmrc-nli  idkmrc   2   4   3   2  0.25  57.81991  67.15183
20  indonli_mnli_idkmrc-nli  idkmrc   1   4   2   2  0.75  57.46445  66.69764
44  indonli_mnli_idkmrc-nli  idkmrc   2   4   3   2   0.5  56.99052  66.32245
24  indonli_mnli_idkmrc-nli  idkmrc   1   4   3   1   0.0  56.75355  66.08548
25  indonli_mnli_idkmrc-nli  idkmrc   1   4   3   2  0.25  56.75355  66.08548
26  indonli_mnli_idkmrc-nli  idkmrc   1   4   3   2   0.5  56.04265  65.37458
46  indonli_mnli_idkmrc-nli  idkmrc   2   4   3   3  0.25  55.92417  65.25610
41  indonli_mnli_idkmrc-nli  idkmrc   2   4   2   3  0.75  54.97630  64.23911
47  indonli_mnli_idkmrc-nli  idkmrc   2   4   3   3   0.5  54.97630  64.30823
28  indonli_mnli_idkmrc-nli  idkmrc   1   4   3   3  0.25  54.62085  63.95278
2                   indonli  idkmrc   1   4   2   1   0.0  54.62085  62.08946
23  indonli_mnli_idkmrc-nli  idkmrc   1   4   2   3  0.75  54.26540  63.52821
29  indonli_mnli_idkmrc-nli  idkmrc   1   4   3   3   0.5  53.79147  63.12339
9              indonli_mnli  idkmrc   1   4   3   1   0.0  52.60664  60.54560
45  indonli_mnli_idkmrc-nli  idkmrc   2   4   3   2  0.75  52.36967  61.61076
27  indonli_mnli_idkmrc-nli  idkmrc   1   4   3   2  0.75  51.65877  60.89986
48  indonli_mnli_idkmrc-nli  idkmrc   2   4   3   3  0.75  48.22275  57.55270
30  indonli_mnli_idkmrc-nli  idkmrc   1   4   3   3  0.75  47.39336  56.72332
3                   indonli  idkmrc   1   4   3   1   0.0  43.95735  51.95651

In [22]:
print(f"{data} sorted by F1")
sorted_table = table.sort_values(by='F1', ascending=False)
sorted_table

idkmrc sorted by F1

                        MSC    data  TQ  TS MSI  VA    TH        EM        F1
0                  Baseline  idkmrc  BL  BL  BL  BL    BL  75.82938  84.25128
13  indonli_mnli_idkmrc-nli  idkmrc   1   4   1   1   0.0  75.82938  84.16834
31  indonli_mnli_idkmrc-nli  idkmrc   2   4   1   1   0.0  75.82938  84.16834
34  indonli_mnli_idkmrc-nli  idkmrc   2   4   1   2  0.75  75.94787  84.16834
33  indonli_mnli_idkmrc-nli  idkmrc   2   4   1   2   0.5  75.82938  84.16834
15  indonli_mnli_idkmrc-nli  idkmrc   1   4   1   2   0.5  75.82938  84.16834
14  indonli_mnli_idkmrc-nli  idkmrc   1   4   1   2  0.25  75.82938  84.16834
16  indonli_mnli_idkmrc-nli  idkmrc   1   4   1   2  0.75  75.94787  84.16834
32  indonli_mnli_idkmrc-nli  idkmrc   2   4   1   2  0.25  75.82938  84.16834
10             indonli_mnli  idkmrc   2   4   1   1   0.0  75.47393  83.89583
4                   indonli  idkmrc   2   4   1   1   0.0  75.35545  83.42190
5                   indonli  idkmrc   2   4   2   1   0.0  73.93365  82.22194
11             indonli_mnli  idkmrc   2   4   2   1   0.0  72.63033  81.10442
6                   indonli  idkmrc   2   4   3   1   0.0  72.63033  80.93617
12             indonli_mnli  idkmrc   2   4   3   1   0.0  71.44550  79.91959
7              indonli_mnli  idkmrc   1   4   1   1   0.0  71.32701  78.02263
1                   indonli  idkmrc   1   4   1   1   0.0  68.48341  75.02483
35  indonli_mnli_idkmrc-nli  idkmrc   2   4   2   1   0.0  62.44076  71.71344
36  indonli_mnli_idkmrc-nli  idkmrc   2   4   2   2  0.25  62.44076  71.71344
37  indonli_mnli_idkmrc-nli  idkmrc   2   4   2   2   0.5  61.72986  71.00254
17  indonli_mnli_idkmrc-nli  idkmrc   1   4   2   1   0.0  61.49289  70.76557
18  indonli_mnli_idkmrc-nli  idkmrc   1   4   2   2  0.25  61.49289  70.76557
39  indonli_mnli_idkmrc-nli  idkmrc   2   4   2   3  0.25  61.13744  70.41012
19  indonli_mnli_idkmrc-nli  idkmrc   1   4   2   2   0.5  60.90047  70.17316
40  indonli_mnli_idkmrc-nli  idkmrc   2   4   2   3   0.5  60.30806  69.58074
8              indonli_mnli  idkmrc   1   4   2   1   0.0  61.96682  69.50875
21  indonli_mnli_idkmrc-nli  idkmrc   1   4   2   3  0.25  59.95261  69.22529
22  indonli_mnli_idkmrc-nli  idkmrc   1   4   2   3   0.5  59.24171  68.51439
38  indonli_mnli_idkmrc-nli  idkmrc   2   4   2   2  0.75  57.93839  67.17158
42  indonli_mnli_idkmrc-nli  idkmrc   2   4   3   1   0.0  57.81991  67.15183
43  indonli_mnli_idkmrc-nli  idkmrc   2   4   3   2  0.25  57.81991  67.15183
20  indonli_mnli_idkmrc-nli  idkmrc   1   4   2   2  0.75  57.46445  66.69764
44  indonli_mnli_idkmrc-nli  idkmrc   2   4   3   2   0.5  56.99052  66.32245
24  indonli_mnli_idkmrc-nli  idkmrc   1   4   3   1   0.0  56.75355  66.08548
25  indonli_mnli_idkmrc-nli  idkmrc   1   4   3   2  0.25  56.75355  66.08548
26  indonli_mnli_idkmrc-nli  idkmrc   1   4   3   2   0.5  56.04265  65.37458
46  indonli_mnli_idkmrc-nli  idkmrc   2   4   3   3  0.25  55.92417  65.25610
47  indonli_mnli_idkmrc-nli  idkmrc   2   4   3   3   0.5  54.97630  64.30823
41  indonli_mnli_idkmrc-nli  idkmrc   2   4   2   3  0.75  54.97630  64.23911
28  indonli_mnli_idkmrc-nli  idkmrc   1   4   3   3  0.25  54.62085  63.95278
23  indonli_mnli_idkmrc-nli  idkmrc   1   4   2   3  0.75  54.26540  63.52821
29  indonli_mnli_idkmrc-nli  idkmrc   1   4   3   3   0.5  53.79147  63.12339
2                   indonli  idkmrc   1   4   2   1   0.0  54.62085  62.08946
45  indonli_mnli_idkmrc-nli  idkmrc   2   4   3   2  0.75  52.36967  61.61076
27  indonli_mnli_idkmrc-nli  idkmrc   1   4   3   2  0.75  51.65877  60.89986
9              indonli_mnli  idkmrc   1   4   3   1   0.0  52.60664  60.54560
48  indonli_mnli_idkmrc-nli  idkmrc   2   4   3   3  0.75  48.22275  57.55270
30  indonli_mnli_idkmrc-nli  idkmrc   1   4   3   3  0.75  47.39336  56.72332
3                   indonli  idkmrc   1   4   3   1   0.0  43.95735  51.95651

## TYDI-QA-ID

In [23]:
data = "tydiqaid"
url_list = take_all_url_nli_validator(data)
table = pd.DataFrame(create_table_nli_validator(url_list, data))
table.to_excel(f'{data}-nli-validator.xlsx', index=False)
table

Amount of url: 49

Processing URLs: 100%|█████████████████████████████████████████████████████████████████| 49/49 [00:43<00:00,  1.13URL/s]

,MSC,data,TQ,TS,MSI,VA,TH,EM,F1
0,Baseline,tydiqaid,BL,BL,BL,BL,BL,61.28655,76.47617
1,indonli,tydiqaid,1,4,1,1,0.0,35.90643,46.40946
2,indonli,tydiqaid,1,4,2,1,0.0,36.14035,48.78837
3,indonli,tydiqaid,1,4,3,1,0.0,36.25731,50.22544
4,indonli,tydiqaid,2,4,1,1,0.0,59.76608,74.66427
5,indonli,tydiqaid,2,4,2,1,0.0,60.00000,75.23357
6,indonli,tydiqaid,2,4,3,1,0.0,60.11696,75.35280
7,indonli_mnli,tydiqaid,1,4,1,1,0.0,42.92398,54.29436
8,indonli_mnli,tydiqaid,1,4,2,1,0.0,43.50877,56.56735
9,indonli_mnli,tydiqaid,1,4,3,1,0.0,43.50877,57.57900
10,indonli_mnli,tydiqaid,2,4,1,1,0.0,59.88304,74.81525
11,indonli_mnli,tydiqaid,2,4,2,1,0.0,60.00000,75.27828
12,indonli_mnli,tydiqaid,2,4,3,1,0.0,60.00000,75.30513
13,indonli_mnli_tydiqaid-nli,tydiqaid,1,4,1,1,0.0,61.16959,76.24257
14,indonli_mnli_tydiqaid-nli,tydiqaid,1,4,1,2,0.25,61.16959,76.24257
15,indonli_mnli_tydiqaid-nli,tydiqaid,1,4,1,2,0.5,61.16959,76.24257
16,indonli_mnli_tydiqaid-nli,tydiqaid,1,4,1,2,0.75,60.70175,75.74480
17,indonli_mnli_tydiqaid-nli,tydiqaid,1,4,2,1,0.0,61.28655,77.30986
18,indonli_mnli_tydiqaid-nli,tydiqaid,1,4,2,2,0.25,61.28655,77.30986
19,indonli_mnli_tydiqaid-nli,tydiqaid,1,4,2,2,0.5,61.28655,77.30986
20,indonli_mnli_tydiqaid-nli,tydiqaid,1,4,2,2,0.75,60.93567,76.94019
21,indonli_mnli_tydiqaid-nli,tydiqaid,1,4,2,3,0.25,61.28655,77.45290
22,indonli_mnli_tydiqaid-nli,tydiqaid,1,4,2,3,0.5,61.28655,77.45290
23,indonli_mnli_tydiqaid-nli,tydiqaid,1,4,2,3,0.75,61.16959,77.42606
24,indonli_mnli_tydiqaid-nli,tydiqaid,1,4,3,1,0.0,61.28655,77.30986
25,indonli_mnli_tydiqaid-nli,tydiqaid,1,4,3,2,0.25,61.28655,77.30986
26,indonli_mnli_tydiqaid-nli,tydiqaid,1,4,3,2,0.5,61.28655,77.30986
27,indonli_mnli_tydiqaid-nli,tydiqaid,1,4,3,2,0.75,60.93567,76.95494
28,indonli_mnli_tydiqaid-nli,tydiqaid,1,4,3,3,0.25,61.28655,77.33594
29,indonli_mnli_tydiqaid-nli,tydiqaid,1,4,3,3,0.5,61.28655,77.33594
30,indonli_mnli_tydiqaid-nli,tydiqaid,1,4,3,3,0.75,61.05263,77.19823
31,indonli_mnli_tydiqaid-nli,tydiqaid,2,4,1,1,0.0,61.16959,76.24257
32,indonli_mnli_tydiqaid-nli,tydiqaid,2,4,1,2,0.25,61.16959,76.24257
33,indonli_mnli_tydiqaid-nli,tydiqaid,2,4,1,2,0.5,61.16959,76.24257
34,indonli_mnli_tydiqaid-nli,tydiqaid,2,4,1,2,0.75,60.70175,75.74480
35,indonli_mnli_tydiqaid-nli,tydiqaid,2,4,2,1,0.0,61.28655,77.30986
36,indonli_mnli_tydiqaid-nli,tydiqaid,2,4,2,2,0.25,61.28655,77.30986
37,indonli_mnli_tydiqaid-nli,tydiqaid,2,4,2,2,0.5,61.28655,77.30986
38,indonli_mnli_tydiqaid-nli,tydiqaid,2,4,2,2,0.75,60.93567,76.94019
39,indonli_mnli_tydiqaid-nli,tydiqaid,2,4,2,3,0.25,61.28655,77.45290
40,indonli_mnli_tydiqaid-nli,tydiqaid,2,4,2,3,0.5,61.28655,77.45290
41,indonli_mnli_tydiqaid-nli,tydiqaid,2,4,2,3,0.75,61.16959,77.42606
42,indonli_mnli_tydiqaid-nli,tydiqaid,2,4,3,1,0.0,61.28655,77.30986
43,indonli_mnli_tydiqaid-nli,tydiqaid,2,4,3,2,0.25,61.28655,77.30986
44,indonli_mnli_tydiqaid-nli,tydiqaid,2,4,3,2,0.5,61.28655,77.30986
45,indonli_mnli_tydiqaid-nli,tydiqaid,2,4,3,2,0.75,60.93567,76.95494
46,indonli_mnli_tydiqaid-nli,tydiqaid,2,4,3,3,0.25,61.28655,77.33594
47,indonli_mnli_tydiqaid-nli,tydiqaid,2,4,3,3,0.5,61.28655,77.33594
48,indonli_mnli_tydiqaid-nli,tydiqaid,2,4,3,3,0.75,61.05263,77.19823

In [24]:
print(f"{data} sorted by EM")
sorted_table = table.sort_values(by='EM', ascending=False)
sorted_table

tydiqaid sorted by EM

,MSC,data,TQ,TS,MSI,VA,TH,EM,F1
0,Baseline,tydiqaid,BL,BL,BL,BL,BL,61.28655,76.47617
19,indonli_mnli_tydiqaid-nli,tydiqaid,1,4,2,2,0.5,61.28655,77.30986
22,indonli_mnli_tydiqaid-nli,tydiqaid,1,4,2,3,0.5,61.28655,77.45290
25,indonli_mnli_tydiqaid-nli,tydiqaid,1,4,3,2,0.25,61.28655,77.30986
26,indonli_mnli_tydiqaid-nli,tydiqaid,1,4,3,2,0.5,61.28655,77.30986
28,indonli_mnli_tydiqaid-nli,tydiqaid,1,4,3,3,0.25,61.28655,77.33594
29,indonli_mnli_tydiqaid-nli,tydiqaid,1,4,3,3,0.5,61.28655,77.33594
35,indonli_mnli_tydiqaid-nli,tydiqaid,2,4,2,1,0.0,61.28655,77.30986
36,indonli_mnli_tydiqaid-nli,tydiqaid,2,4,2,2,0.25,61.28655,77.30986
37,indonli_mnli_tydiqaid-nli,tydiqaid,2,4,2,2,0.5,61.28655,77.30986
39,indonli_mnli_tydiqaid-nli,tydiqaid,2,4,2,3,0.25,61.28655,77.45290
40,indonli_mnli_tydiqaid-nli,tydiqaid,2,4,2,3,0.5,61.28655,77.45290
42,indonli_mnli_tydiqaid-nli,tydiqaid,2,4,3,1,0.0,61.28655,77.30986
43,indonli_mnli_tydiqaid-nli,tydiqaid,2,4,3,2,0.25,61.28655,77.30986
44,indonli_mnli_tydiqaid-nli,tydiqaid,2,4,3,2,0.5,61.28655,77.30986
46,indonli_mnli_tydiqaid-nli,tydiqaid,2,4,3,3,0.25,61.28655,77.33594
47,indonli_mnli_tydiqaid-nli,tydiqaid,2,4,3,3,0.5,61.28655,77.33594
21,indonli_mnli_tydiqaid-nli,tydiqaid,1,4,2,3,0.25,61.28655,77.45290
24,indonli_mnli_tydiqaid-nli,tydiqaid,1,4,3,1,0.0,61.28655,77.30986
18,indonli_mnli_tydiqaid-nli,tydiqaid,1,4,2,2,0.25,61.28655,77.30986
17,indonli_mnli_tydiqaid-nli,tydiqaid,1,4,2,1,0.0,61.28655,77.30986
41,indonli_mnli_tydiqaid-nli,tydiqaid,2,4,2,3,0.75,61.16959,77.42606
23,indonli_mnli_tydiqaid-nli,tydiqaid,1,4,2,3,0.75,61.16959,77.42606
33,indonli_mnli_tydiqaid-nli,tydiqaid,2,4,1,2,0.5,61.16959,76.24257
15,indonli_mnli_tydiqaid-nli,tydiqaid,1,4,1,2,0.5,61.16959,76.24257
14,indonli_mnli_tydiqaid-nli,tydiqaid,1,4,1,2,0.25,61.16959,76.24257
32,indonli_mnli_tydiqaid-nli,tydiqaid,2,4,1,2,0.25,61.16959,76.24257
13,indonli_mnli_tydiqaid-nli,tydiqaid,1,4,1,1,0.0,61.16959,76.24257
31,indonli_mnli_tydiqaid-nli,tydiqaid,2,4,1,1,0.0,61.16959,76.24257
30,indonli_mnli_tydiqaid-nli,tydiqaid,1,4,3,3,0.75,61.05263,77.19823
48,indonli_mnli_tydiqaid-nli,tydiqaid,2,4,3,3,0.75,61.05263,77.19823
27,indonli_mnli_tydiqaid-nli,tydiqaid,1,4,3,2,0.75,60.93567,76.95494
45,indonli_mnli_tydiqaid-nli,tydiqaid,2,4,3,2,0.75,60.93567,76.95494
20,indonli_mnli_tydiqaid-nli,tydiqaid,1,4,2,2,0.75,60.93567,76.94019
38,indonli_mnli_tydiqaid-nli,tydiqaid,2,4,2,2,0.75,60.93567,76.94019
34,indonli_mnli_tydiqaid-nli,tydiqaid,2,4,1,2,0.75,60.70175,75.74480
16,indonli_mnli_tydiqaid-nli,tydiqaid,1,4,1,2,0.75,60.70175,75.74480
6,indonli,tydiqaid,2,4,3,1,0.0,60.11696,75.35280
5,indonli,tydiqaid,2,4,2,1,0.0,60.00000,75.23357
12,indonli_mnli,tydiqaid,2,4,3,1,0.0,60.00000,75.30513
11,indonli_mnli,tydiqaid,2,4,2,1,0.0,60.00000,75.27828
10,indonli_mnli,tydiqaid,2,4,1,1,0.0,59.88304,74.81525
4,indonli,tydiqaid,2,4,1,1,0.0,59.76608,74.66427
8,indonli_mnli,tydiqaid,1,4,2,1,0.0,43.50877,56.56735
9,indonli_mnli,tydiqaid,1,4,3,1,0.0,43.50877,57.57900
7,indonli_mnli,tydiqaid,1,4,1,1,0.0,42.92398,54.29436
3,indonli,tydiqaid,1,4,3,1,0.0,36.25731,50.22544
2,indonli,tydiqaid,1,4,2,1,0.0,36.14035,48.78837
1,indonli,tydiqaid,1,4,1,1,0.0,35.90643,46.40946

In [25]:
print(f"{data} sorted by F1")
sorted_table = table.sort_values(by='F1', ascending=False)
sorted_table

tydiqaid sorted by F1

,MSC,data,TQ,TS,MSI,VA,TH,EM,F1
22,indonli_mnli_tydiqaid-nli,tydiqaid,1,4,2,3,0.5,61.28655,77.45290
21,indonli_mnli_tydiqaid-nli,tydiqaid,1,4,2,3,0.25,61.28655,77.45290
40,indonli_mnli_tydiqaid-nli,tydiqaid,2,4,2,3,0.5,61.28655,77.45290
39,indonli_mnli_tydiqaid-nli,tydiqaid,2,4,2,3,0.25,61.28655,77.45290
41,indonli_mnli_tydiqaid-nli,tydiqaid,2,4,2,3,0.75,61.16959,77.42606
23,indonli_mnli_tydiqaid-nli,tydiqaid,1,4,2,3,0.75,61.16959,77.42606
28,indonli_mnli_tydiqaid-nli,tydiqaid,1,4,3,3,0.25,61.28655,77.33594
47,indonli_mnli_tydiqaid-nli,tydiqaid,2,4,3,3,0.5,61.28655,77.33594
46,indonli_mnli_tydiqaid-nli,tydiqaid,2,4,3,3,0.25,61.28655,77.33594
29,indonli_mnli_tydiqaid-nli,tydiqaid,1,4,3,3,0.5,61.28655,77.33594
25,indonli_mnli_tydiqaid-nli,tydiqaid,1,4,3,2,0.25,61.28655,77.30986
19,indonli_mnli_tydiqaid-nli,tydiqaid,1,4,2,2,0.5,61.28655,77.30986
18,indonli_mnli_tydiqaid-nli,tydiqaid,1,4,2,2,0.25,61.28655,77.30986
17,indonli_mnli_tydiqaid-nli,tydiqaid,1,4,2,1,0.0,61.28655,77.30986
26,indonli_mnli_tydiqaid-nli,tydiqaid,1,4,3,2,0.5,61.28655,77.30986
24,indonli_mnli_tydiqaid-nli,tydiqaid,1,4,3,1,0.0,61.28655,77.30986
35,indonli_mnli_tydiqaid-nli,tydiqaid,2,4,2,1,0.0,61.28655,77.30986
37,indonli_mnli_tydiqaid-nli,tydiqaid,2,4,2,2,0.5,61.28655,77.30986
42,indonli_mnli_tydiqaid-nli,tydiqaid,2,4,3,1,0.0,61.28655,77.30986
43,indonli_mnli_tydiqaid-nli,tydiqaid,2,4,3,2,0.25,61.28655,77.30986
44,indonli_mnli_tydiqaid-nli,tydiqaid,2,4,3,2,0.5,61.28655,77.30986
36,indonli_mnli_tydiqaid-nli,tydiqaid,2,4,2,2,0.25,61.28655,77.30986
30,indonli_mnli_tydiqaid-nli,tydiqaid,1,4,3,3,0.75,61.05263,77.19823
48,indonli_mnli_tydiqaid-nli,tydiqaid,2,4,3,3,0.75,61.05263,77.19823
27,indonli_mnli_tydiqaid-nli,tydiqaid,1,4,3,2,0.75,60.93567,76.95494
45,indonli_mnli_tydiqaid-nli,tydiqaid,2,4,3,2,0.75,60.93567,76.95494
20,indonli_mnli_tydiqaid-nli,tydiqaid,1,4,2,2,0.75,60.93567,76.94019
38,indonli_mnli_tydiqaid-nli,tydiqaid,2,4,2,2,0.75,60.93567,76.94019
0,Baseline,tydiqaid,BL,BL,BL,BL,BL,61.28655,76.47617
15,indonli_mnli_tydiqaid-nli,tydiqaid,1,4,1,2,0.5,61.16959,76.24257
14,indonli_mnli_tydiqaid-nli,tydiqaid,1,4,1,2,0.25,61.16959,76.24257
13,indonli_mnli_tydiqaid-nli,tydiqaid,1,4,1,1,0.0,61.16959,76.24257
31,indonli_mnli_tydiqaid-nli,tydiqaid,2,4,1,1,0.0,61.16959,76.24257
32,indonli_mnli_tydiqaid-nli,tydiqaid,2,4,1,2,0.25,61.16959,76.24257
33,indonli_mnli_tydiqaid-nli,tydiqaid,2,4,1,2,0.5,61.16959,76.24257
16,indonli_mnli_tydiqaid-nli,tydiqaid,1,4,1,2,0.75,60.70175,75.74480
34,indonli_mnli_tydiqaid-nli,tydiqaid,2,4,1,2,0.75,60.70175,75.74480
6,indonli,tydiqaid,2,4,3,1,0.0,60.11696,75.35280
12,indonli_mnli,tydiqaid,2,4,3,1,0.0,60.00000,75.30513
11,indonli_mnli,tydiqaid,2,4,2,1,0.0,60.00000,75.27828
5,indonli,tydiqaid,2,4,2,1,0.0,60.00000,75.23357
10,indonli_mnli,tydiqaid,2,4,1,1,0.0,59.88304,74.81525
4,indonli,tydiqaid,2,4,1,1,0.0,59.76608,74.66427
9,indonli_mnli,tydiqaid,1,4,3,1,0.0,43.50877,57.57900
8,indonli_mnli,tydiqaid,1,4,2,1,0.0,43.50877,56.56735
7,indonli_mnli,tydiqaid,1,4,1,1,0.0,42.92398,54.29436
3,indonli,tydiqaid,1,4,3,1,0.0,36.25731,50.22544
2,indonli,tydiqaid,1,4,2,1,0.0,36.14035,48.78837
1,indonli,tydiqaid,1,4,1,1,0.0,35.90643,46.40946

## SQUAD-ID

In [26]:
data = "squadid"
url_list = take_all_url_nli_validator(data)
table = pd.DataFrame(create_table_nli_validator(url_list, data))
table.to_excel(f'{data}-nli-validator.xlsx', index=False)
table

Amount of url: 49

Processing URLs: 100%|█████████████████████████████████████████████████████████████████| 49/49 [00:42<00:00,  1.16URL/s]

,MSC,data,TQ,TS,MSI,VA,TH,EM,F1
0,Baseline,squadid,BL,BL,BL,BL,BL,47.91544,67.07638
1,indonli,squadid,1,4,1,1,0.0,13.66967,20.70488
2,indonli,squadid,1,4,2,1,0.0,13.78759,23.24303
3,indonli,squadid,1,4,3,1,0.0,13.79601,25.48443
4,indonli,squadid,2,4,1,1,0.0,40.84056,56.91996
5,indonli,squadid,2,4,2,1,0.0,40.95848,57.65389
6,indonli,squadid,2,4,3,1,0.0,40.95848,58.03293
7,indonli_mnli,squadid,1,4,1,1,0.0,21.88158,31.73284
8,indonli_mnli,squadid,1,4,2,1,0.0,22.02476,34.01653
9,indonli_mnli,squadid,1,4,3,1,0.0,22.05845,35.85515
10,indonli_mnli,squadid,2,4,1,1,0.0,41.75019,58.11034
11,indonli_mnli,squadid,2,4,2,1,0.0,41.82599,58.72117
12,indonli_mnli,squadid,2,4,3,1,0.0,41.82599,59.04616
13,indonli_mnli_squadid-nli,squadid,1,4,1,1,0.0,47.64592,66.65380
14,indonli_mnli_squadid-nli,squadid,1,4,1,2,0.25,47.64592,66.65380
15,indonli_mnli_squadid-nli,squadid,1,4,1,2,0.5,47.64592,66.65380
16,indonli_mnli_squadid-nli,squadid,1,4,1,2,0.75,47.24164,66.08807
17,indonli_mnli_squadid-nli,squadid,1,4,2,1,0.0,47.76383,66.99045
18,indonli_mnli_squadid-nli,squadid,1,4,2,2,0.25,47.76383,66.99045
19,indonli_mnli_squadid-nli,squadid,1,4,2,2,0.5,47.76383,66.99045
20,indonli_mnli_squadid-nli,squadid,1,4,2,2,0.75,47.50274,66.72627
21,indonli_mnli_squadid-nli,squadid,1,4,2,3,0.25,47.80595,67.05292
22,indonli_mnli_squadid-nli,squadid,1,4,2,3,0.5,47.80595,67.05292
23,indonli_mnli_squadid-nli,squadid,1,4,2,3,0.75,47.67119,66.97599
24,indonli_mnli_squadid-nli,squadid,1,4,3,1,0.0,47.76383,67.01640
25,indonli_mnli_squadid-nli,squadid,1,4,3,2,0.25,47.76383,67.01640
26,indonli_mnli_squadid-nli,squadid,1,4,3,2,0.5,47.76383,67.01640
27,indonli_mnli_squadid-nli,squadid,1,4,3,2,0.75,47.51116,66.83147
28,indonli_mnli_squadid-nli,squadid,1,4,3,3,0.25,47.78068,67.04097
29,indonli_mnli_squadid-nli,squadid,1,4,3,3,0.5,47.78068,67.04097
30,indonli_mnli_squadid-nli,squadid,1,4,3,3,0.75,47.55327,66.89028
31,indonli_mnli_squadid-nli,squadid,2,4,1,1,0.0,47.64592,66.65837
32,indonli_mnli_squadid-nli,squadid,2,4,1,2,0.25,47.64592,66.65837
33,indonli_mnli_squadid-nli,squadid,2,4,1,2,0.5,47.64592,66.65837
34,indonli_mnli_squadid-nli,squadid,2,4,1,2,0.75,47.24164,66.08807
35,indonli_mnli_squadid-nli,squadid,2,4,2,1,0.0,47.76383,66.99166
36,indonli_mnli_squadid-nli,squadid,2,4,2,2,0.25,47.76383,66.99166
37,indonli_mnli_squadid-nli,squadid,2,4,2,2,0.5,47.76383,66.99166
38,indonli_mnli_squadid-nli,squadid,2,4,2,2,0.75,47.50274,66.72290
39,indonli_mnli_squadid-nli,squadid,2,4,2,3,0.25,47.80595,67.05412
40,indonli_mnli_squadid-nli,squadid,2,4,2,3,0.5,47.80595,67.05412
41,indonli_mnli_squadid-nli,squadid,2,4,2,3,0.75,47.67119,66.97262
42,indonli_mnli_squadid-nli,squadid,2,4,3,1,0.0,47.76383,67.01314
43,indonli_mnli_squadid-nli,squadid,2,4,3,2,0.25,47.76383,67.01314
44,indonli_mnli_squadid-nli,squadid,2,4,3,2,0.5,47.76383,67.01314
45,indonli_mnli_squadid-nli,squadid,2,4,3,2,0.75,47.51116,66.82728
46,indonli_mnli_squadid-nli,squadid,2,4,3,3,0.25,47.78068,67.03771
47,indonli_mnli_squadid-nli,squadid,2,4,3,3,0.5,47.78068,67.03771
48,indonli_mnli_squadid-nli,squadid,2,4,3,3,0.75,47.55327,66.88610

In [27]:
print(f"{data} sorted by EM")
sorted_table = table.sort_values(by='EM', ascending=False)
sorted_table

squadid sorted by EM

,MSC,data,TQ,TS,MSI,VA,TH,EM,F1
0,Baseline,squadid,BL,BL,BL,BL,BL,47.91544,67.07638
40,indonli_mnli_squadid-nli,squadid,2,4,2,3,0.5,47.80595,67.05412
22,indonli_mnli_squadid-nli,squadid,1,4,2,3,0.5,47.80595,67.05292
39,indonli_mnli_squadid-nli,squadid,2,4,2,3,0.25,47.80595,67.05412
21,indonli_mnli_squadid-nli,squadid,1,4,2,3,0.25,47.80595,67.05292
46,indonli_mnli_squadid-nli,squadid,2,4,3,3,0.25,47.78068,67.03771
29,indonli_mnli_squadid-nli,squadid,1,4,3,3,0.5,47.78068,67.04097
28,indonli_mnli_squadid-nli,squadid,1,4,3,3,0.25,47.78068,67.04097
47,indonli_mnli_squadid-nli,squadid,2,4,3,3,0.5,47.78068,67.03771
43,indonli_mnli_squadid-nli,squadid,2,4,3,2,0.25,47.76383,67.01314
42,indonli_mnli_squadid-nli,squadid,2,4,3,1,0.0,47.76383,67.01314
44,indonli_mnli_squadid-nli,squadid,2,4,3,2,0.5,47.76383,67.01314
19,indonli_mnli_squadid-nli,squadid,1,4,2,2,0.5,47.76383,66.99045
36,indonli_mnli_squadid-nli,squadid,2,4,2,2,0.25,47.76383,66.99166
35,indonli_mnli_squadid-nli,squadid,2,4,2,1,0.0,47.76383,66.99166
26,indonli_mnli_squadid-nli,squadid,1,4,3,2,0.5,47.76383,67.01640
25,indonli_mnli_squadid-nli,squadid,1,4,3,2,0.25,47.76383,67.01640
37,indonli_mnli_squadid-nli,squadid,2,4,2,2,0.5,47.76383,66.99166
24,indonli_mnli_squadid-nli,squadid,1,4,3,1,0.0,47.76383,67.01640
18,indonli_mnli_squadid-nli,squadid,1,4,2,2,0.25,47.76383,66.99045
17,indonli_mnli_squadid-nli,squadid,1,4,2,1,0.0,47.76383,66.99045
41,indonli_mnli_squadid-nli,squadid,2,4,2,3,0.75,47.67119,66.97262
23,indonli_mnli_squadid-nli,squadid,1,4,2,3,0.75,47.67119,66.97599
33,indonli_mnli_squadid-nli,squadid,2,4,1,2,0.5,47.64592,66.65837
15,indonli_mnli_squadid-nli,squadid,1,4,1,2,0.5,47.64592,66.65380
14,indonli_mnli_squadid-nli,squadid,1,4,1,2,0.25,47.64592,66.65380
32,indonli_mnli_squadid-nli,squadid,2,4,1,2,0.25,47.64592,66.65837
13,indonli_mnli_squadid-nli,squadid,1,4,1,1,0.0,47.64592,66.65380
31,indonli_mnli_squadid-nli,squadid,2,4,1,1,0.0,47.64592,66.65837
30,indonli_mnli_squadid-nli,squadid,1,4,3,3,0.75,47.55327,66.89028
48,indonli_mnli_squadid-nli,squadid,2,4,3,3,0.75,47.55327,66.88610
45,indonli_mnli_squadid-nli,squadid,2,4,3,2,0.75,47.51116,66.82728
27,indonli_mnli_squadid-nli,squadid,1,4,3,2,0.75,47.51116,66.83147
38,indonli_mnli_squadid-nli,squadid,2,4,2,2,0.75,47.50274,66.72290
20,indonli_mnli_squadid-nli,squadid,1,4,2,2,0.75,47.50274,66.72627
34,indonli_mnli_squadid-nli,squadid,2,4,1,2,0.75,47.24164,66.08807
16,indonli_mnli_squadid-nli,squadid,1,4,1,2,0.75,47.24164,66.08807
12,indonli_mnli,squadid,2,4,3,1,0.0,41.82599,59.04616
11,indonli_mnli,squadid,2,4,2,1,0.0,41.82599,58.72117
10,indonli_mnli,squadid,2,4,1,1,0.0,41.75019,58.11034
6,indonli,squadid,2,4,3,1,0.0,40.95848,58.03293
5,indonli,squadid,2,4,2,1,0.0,40.95848,57.65389
4,indonli,squadid,2,4,1,1,0.0,40.84056,56.91996
9,indonli_mnli,squadid,1,4,3,1,0.0,22.05845,35.85515
8,indonli_mnli,squadid,1,4,2,1,0.0,22.02476,34.01653
7,indonli_mnli,squadid,1,4,1,1,0.0,21.88158,31.73284
3,indonli,squadid,1,4,3,1,0.0,13.79601,25.48443
2,indonli,squadid,1,4,2,1,0.0,13.78759,23.24303
1,indonli,squadid,1,4,1,1,0.0,13.66967,20.70488

In [28]:
print(f"{data} sorted by F1")
sorted_table = table.sort_values(by='F1', ascending=False)
sorted_table

squadid sorted by F1

,MSC,data,TQ,TS,MSI,VA,TH,EM,F1
0,Baseline,squadid,BL,BL,BL,BL,BL,47.91544,67.07638
40,indonli_mnli_squadid-nli,squadid,2,4,2,3,0.5,47.80595,67.05412
39,indonli_mnli_squadid-nli,squadid,2,4,2,3,0.25,47.80595,67.05412
21,indonli_mnli_squadid-nli,squadid,1,4,2,3,0.25,47.80595,67.05292
22,indonli_mnli_squadid-nli,squadid,1,4,2,3,0.5,47.80595,67.05292
29,indonli_mnli_squadid-nli,squadid,1,4,3,3,0.5,47.78068,67.04097
28,indonli_mnli_squadid-nli,squadid,1,4,3,3,0.25,47.78068,67.04097
47,indonli_mnli_squadid-nli,squadid,2,4,3,3,0.5,47.78068,67.03771
46,indonli_mnli_squadid-nli,squadid,2,4,3,3,0.25,47.78068,67.03771
26,indonli_mnli_squadid-nli,squadid,1,4,3,2,0.5,47.76383,67.01640
25,indonli_mnli_squadid-nli,squadid,1,4,3,2,0.25,47.76383,67.01640
24,indonli_mnli_squadid-nli,squadid,1,4,3,1,0.0,47.76383,67.01640
44,indonli_mnli_squadid-nli,squadid,2,4,3,2,0.5,47.76383,67.01314
43,indonli_mnli_squadid-nli,squadid,2,4,3,2,0.25,47.76383,67.01314
42,indonli_mnli_squadid-nli,squadid,2,4,3,1,0.0,47.76383,67.01314
35,indonli_mnli_squadid-nli,squadid,2,4,2,1,0.0,47.76383,66.99166
37,indonli_mnli_squadid-nli,squadid,2,4,2,2,0.5,47.76383,66.99166
36,indonli_mnli_squadid-nli,squadid,2,4,2,2,0.25,47.76383,66.99166
17,indonli_mnli_squadid-nli,squadid,1,4,2,1,0.0,47.76383,66.99045
18,indonli_mnli_squadid-nli,squadid,1,4,2,2,0.25,47.76383,66.99045
19,indonli_mnli_squadid-nli,squadid,1,4,2,2,0.5,47.76383,66.99045
23,indonli_mnli_squadid-nli,squadid,1,4,2,3,0.75,47.67119,66.97599
41,indonli_mnli_squadid-nli,squadid,2,4,2,3,0.75,47.67119,66.97262
30,indonli_mnli_squadid-nli,squadid,1,4,3,3,0.75,47.55327,66.89028
48,indonli_mnli_squadid-nli,squadid,2,4,3,3,0.75,47.55327,66.88610
27,indonli_mnli_squadid-nli,squadid,1,4,3,2,0.75,47.51116,66.83147
45,indonli_mnli_squadid-nli,squadid,2,4,3,2,0.75,47.51116,66.82728
20,indonli_mnli_squadid-nli,squadid,1,4,2,2,0.75,47.50274,66.72627
38,indonli_mnli_squadid-nli,squadid,2,4,2,2,0.75,47.50274,66.72290
31,indonli_mnli_squadid-nli,squadid,2,4,1,1,0.0,47.64592,66.65837
32,indonli_mnli_squadid-nli,squadid,2,4,1,2,0.25,47.64592,66.65837
33,indonli_mnli_squadid-nli,squadid,2,4,1,2,0.5,47.64592,66.65837
14,indonli_mnli_squadid-nli,squadid,1,4,1,2,0.25,47.64592,66.65380
13,indonli_mnli_squadid-nli,squadid,1,4,1,1,0.0,47.64592,66.65380
15,indonli_mnli_squadid-nli,squadid,1,4,1,2,0.5,47.64592,66.65380
34,indonli_mnli_squadid-nli,squadid,2,4,1,2,0.75,47.24164,66.08807
16,indonli_mnli_squadid-nli,squadid,1,4,1,2,0.75,47.24164,66.08807
12,indonli_mnli,squadid,2,4,3,1,0.0,41.82599,59.04616
11,indonli_mnli,squadid,2,4,2,1,0.0,41.82599,58.72117
10,indonli_mnli,squadid,2,4,1,1,0.0,41.75019,58.11034
6,indonli,squadid,2,4,3,1,0.0,40.95848,58.03293
5,indonli,squadid,2,4,2,1,0.0,40.95848,57.65389
4,indonli,squadid,2,4,1,1,0.0,40.84056,56.91996
9,indonli_mnli,squadid,1,4,3,1,0.0,22.05845,35.85515
8,indonli_mnli,squadid,1,4,2,1,0.0,22.02476,34.01653
7,indonli_mnli,squadid,1,4,1,1,0.0,21.88158,31.73284
3,indonli,squadid,1,4,3,1,0.0,13.79601,25.48443
2,indonli,squadid,1,4,2,1,0.0,13.78759,23.24303
1,indonli,squadid,1,4,1,1,0.0,13.66967,20.70488